<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close(false);">&times;</button>
                <h4 class="modal-title" translate>Delete an entry</h4>
            </div>
            <div class="modal-body">
                <span translate>Are you sure you want to delete the following entry?</span>
                <table class="table text-center" style="margin: 0;margin-top: 16px;">
                    <thead>
                        <tr>
                            <th class="text-center" translate>Date</th>
                            <th class="text-center" translate>Hour</th>
                            <th class="text-center">
                                <span data-ng-hide="meal" translate>Value</span>
                                <span data-ng-show="meal">Score</span>                                
			            	</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{entry.datetimeAcquisition | date: 'dd/MM/yy'}}</td>
                            <td>{{entry.datetimeAcquisition | date: 'HH:mm'}}</td>
                            <td class = "logValue">
                                <span data-ng-if="!entry.isSkipped && entry.type != 'symptoms' && entry.type != 'bloodpressure'"><strong>{{entry.value}}</strong> <small>{{unit}}</small></span>
                                <span data-ng-if="!entry.isSkipped && entry.type == 'bloodpressure'"><strong>{{entry.values[0].value}} / {{entry.values[1].value}}</strong> <small>{{unit}}</small></span>
                                <div data-ng-if="!entry.isSkipped && entry.type == 'symptoms'" data-ng-repeat="btn in entry.buttons" class="text-center" ng-style="btn.img" style="margin: 1px;padding: 1px;height: 16px;width: 16px;display: inline-block;"></div>
                                <i data-ng-if="entry.isSkipped" translate>skipped</i>
                                <i data-ng-repeat="icon in entry.icons" class="{{icon.i}}" style="font-size:16px;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close(false);"  translate>Cancel</button>
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal" data-ng-click="close(true);" translate>Delete</button>
            </div>
        </div>  
    </div>
</div>