<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="modal-title" style="text-align: center;" translate> Blood Glucose Targets (ADA)</h5> </div>
                </div>
            </div>
            <div class="modal-body">
                According to the American Diabetes Association (ADA) the recommended glycemic targets (GT) - though they may be individualized - are :
                <br> </br>
                <table class="table table-striped table-hover table-responsive table-condensed" style="font-size: 13px;">
                    <tbody>
                        <thead>
                            <th> Parameter </th>
                            <th> Value </th>
                            <th> Unit </th>
                        </thead>
                        <tr>
                            <td>GT Min </td>
                            <td> 80 </td>
                            <td> mg/dL </td>
                        </tr>
                        <tr>
                            <td> GT Max </td>
                            <td> 130 </td>
                            <td> mg/dL </td>
                        </tr>
                        <tr>
                            <td>Post-prandial GT Max </br>(1-2 hours after meal) </td>
                            <td> 180 </td>
                            <td> mg/dL</td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <!-- Lost entered data when closing the modal this way...
           <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close();" translate>
                    <text style="color:#009688;"> Got it </text>
                </button>
            </div> -->
        </div>
    </div>
</div>