<div class="modal fade panel">
    <div class="modal-dialog">
        <div class="modal-content" style="border: solid #2196F3 2px;">
            <div class="modal-header panel-heading" style="text-align: center; margin: 0 auto;background-color:#2196F3;color:white;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close();">&times;</button>
                <div class="modal-title panel-title align-center" translate> We detected you're using a mobile device :-) </div>
                </br>
            </div>
            <div class="modal-body panel-body" style="text-align: center;" translate>
                <img  class="img-responsive" style="margin: 0 auto;height:140px;padding:1em;" src="../../img/jitsilogo.png"> </img>
                <h5> If not done yet, please </h5>
                <button class="btn btn-md btn-white" style="padding: 4px 10px;background-color: #2196F3;color:white;" ng-click="goToUrl(storelink);">
                    Download Jitsi
                </button>
                </br>
                <h5> Or go directly to : </h5>
                <button class="btn btn-md btn-white" style="padding: 4px 10px;background-color: #2196F3;color:white;" ng-click="goToUrl(room);">
                    Confcall Room
                </button>
                <!-- <div ng-if=(deviceDetector.raw.device.iphone||deviceDetector.raw.device.android) ng-init="showDeviceWarning(deviceDetector.raw.device)"> </div> -->
            </div>
        </div>
    </div>
</div>