<div id="scoreModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close();">&times;</button>-->
                <div class="panel-heading panel-exp" style="text-align: center; background-color:#009688;">
                    <h4 class="modal-title" translate> 
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" ng-click="expanded = !expanded">
                    <text style="font-weight: bold; color:white">Score : {{user.score}}%</text> 
                    </a>

                         </h4>
                </div>
                <div id="collapseOne" class="panel-body panel-collapse collapse" translate>
                    <table class="table table-striped table-hover table-bordered table-responsive table-condensed" style="font-size: 13px;">
                        <tbody>
                            <tr data-ng-repeat="quizz in quizzs" ng-if="!quizz.bookmarked">
                                <td> {{quizz.title}} </td>
                                <td>
                                    <span class="avatar" style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px; ;background-color:red; color:red;">
                                   </span>
                                </td>
                            </tr>
                            <tr data-ng-repeat="quizz in quizzs" ng-if="quizz.bookmarked">
                                <td> {{quizz.title}} </td>
                                <td>
                                    <span class="avatar mdi-action-done" style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px;background-color:#4caf50;"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--  <div class="panel-heading  " style="text-align: center;">
                    <text style="font-weight: bold; color:white"> Feedback </text>
                </div> -->
                <div class="panel-body">
                    <text ng-if="user.score == 100">
                        Congratulations ! You successfully completed this module. In fact, you nailed it ! You doing great, keep it up :-)
                    </text>
                    <text ng-if="user.score>=60 && user.score != 100">
                        Congratulations ! You successfully completed this Quiz module. However, if you want to improve your score, don't hesitate to have a look (back) at the following(s) "Tips & Tricks" :
                        <ul>
                            <li data-ng-repeat="quizz in quizzs" ng-if="!quizz.bookmarked">
                                <a ui-sref="home.tips.one({id: quizz.ref})" target="_blank">{{quizz.title}}</a>
                            </li>
                        </ul>
                    </text>
                    <text ng-if="user.score<60">
                        Arf, sorry but you did not pass the test.. If you want to improve your score, don't hesitate to have a look to these "Tips & Tricks" modules and try again :
                        <ul>
                            <li data-ng-repeat="quizz in quizzs" ng-if="!quizz.bookmarked">
                                <a ui-sref="home.tips.one({id: quizz.ref})" target="_blank">{{quizz.title}}</a>
                            </li>
                        </ul>
                    </text>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="closeScore();" translate>
                    <text style="color:#009688;"> Got it </text>
                </button>
            </div>
        </div>
    </div>
</div>