<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close();">&times;</button>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="modal-title" style="text-align: center;" translate>Physical activity : Intensity table</h5> </div>
                </div> 
                <div class="modal-body table-responsive">
                    <table class="table table-striped" style="font-size: 13px">
                        <thead>
                            <tr>
                                <th width=15%>
                                    Intensity
                                </th>
                                <th style="text-align: center;">
                                    Examples
                                </th>
                                <th > Talk Test
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 : Light</td>
                                <td>
                                    <ul>
                                        <li>Walking below 4.7 km/h</li>
                                        <li> Light household work.</li>
                                    </ul>
                                </td>
                                <td style="white-space: normal;"> </td>
                            </tr>
                            <tr>
                                <td>2 : Moderate</td>
                                <td>
                                    <ul>
                                        <li>Walking briskly (4.8–6.5 km/h)</li>
                                        <li> Slow cycling (15 km/h) </li>
                                        <li> Painting/decorating</li>
                                        <li> Vacuuming</li>
                                        <li> Gardening</li>
                                        <li> Golf</li>
                                        <li> Doubles tennis</li>
                                        <li> Dancing</li>
                                    </ul>
                                </td>
                                <td style="white-space: normal;"> Breathing is faster but compatible with speaking full sentences.</td>
                            </tr>
                            <tr>
                                <td>3 : Vigorous</td>
                                <td>
                                    <ul>
                                        <li> Race-walking </li>
                                        <li> Jogging or running </li>
                                        <li> Swimming </li>
                                        <li> Singles tennis </li>
                                        <li> Heavy ­gardening </li>
                                    </ul>
                                </td>
                                <td style="white-space: normal;">
                                    Breathing very hard, incompatible with carrying on a conversation comfortably.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close();" translate><text style="color:#009688;"> Got it </text></button>
            </div>
        </div>
    </div>
</div>
