<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="modal-title" style="text-align: center;" translate><b> 15 g </b> of carbohydrates correspond to :</h5> </div>
                </div>
            </div>
            <div class="modal-body">
                <table class='table-hover table-striped table-condensed table-bordered  table-responsive' style='font-size: 13px'>
                    <Tr>
                        <td> 3 pieces of sugar diluted in water OR</td>
                    </tr>
                    <Tr>
                        <td> 100 ml sweet lemonade <i>OR </i></td>
                    </tr>
                    <Tr>
                        <td> 1 tablespoon of syrup (grenadine) diluted in ½ glass of water <i>OR </i></td>
                    </tr>
                    <Tr>
                        <td> 1 small glass of fruit juice 100% pure juice (maximum 200 ml) <i>OR </i></td>
                    </tr>
                    <Tr>
                        <td> 4 dextrose tablets (of the Dextro Energy © type) <i>OR </i></td>
                    </tr>
                    <Tr>
                        <td> 1 tablespoon of jam or honey. </Td>
                    </tr>
                </table>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close();" translate>
                    <text style="color:#009688;"> Got it </text>
                </button>
            </div>-->
        </div>
    </div>
</div>
