<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="close(false);">&times;</button>
                <h4 class="modal-title" translate>Meal overview</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <span translate>Your</span>
                    <span>{{entry.type}} {{entry.datetimeAcquisition | date: 'dd/MM/yy'}}</span>
                    <span>at {{entry.datetimeAcquisition | date: 'HH:mm'}}</span>
                    <i data-ng-if="entry.isSkipped" translate>skipped</i>
                </div>
                <table data-ng-if="!entry.isSkipped" class="table text-center" style="margin: 0;margin-top: 16px;">
                    <thead>
                        <tr>
                            <th class="text-center" translate>Product</th>
                            <th class="text-center" translate>Amount</th>
                            <th class="text-center">Carbs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="product in entry.values" ng-init="amount.total_amount = (product.amount *100 + amount.total_amount); amount.total_carbs = (product.carbs + amount.total_carbs); amount.total_sugar = (product.sugar + amount.total_sugar); amount.total_fats = (product.fats + amount.total_fats); amount.total_kcal = (product.kcal + amount.total_kcal)">
                            <td>{{product.productname}}</td>
                            <td>{{product.amount * 100 | number: 2}} g</td>
                            <td>{{product.carbs | number: 2}}</td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td>{{amount.total_amount | number: 2}} g</td>
                            <td>{{amount.total_carbs | number: 2}}</td>
                        </tr>
                    </tbody>
                </table
>                <div>
                    <h4 class="text-center">Meal stats</h4>
                    <div class="row">
                        <div class="col-xs-3">
                            <h4>Carbs</h4>
                            <span>{{amount.total_carbs | number: 2}} g</span>
                        </div>
                        <div class="col-xs-3">
                            <h4>Kcal</h4>
                            <span>{{amount.total_kcal | number: 2}}</span>
                        </div>
                        <div class="col-xs-3">
                            <h4>Fats</h4>
                            <span>{{amount.total_fats | number: 2}} g</span>
                        </div>
                        <div class="col-xs-3">
                            <h4>Sugars</h4>
                            <span>{{amount.total_sugar | number: 2}} g</span>
                        </div>
                    </div>
                </div>
                <div data-ng-if="entry.photo" class="text-center">
                    <h4 translate>Meal photo</h4>
                    <img class="img-responsive center-block" src="../../photosUpload/{{entry.photo}}">
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" data-ng-click="close(false);"  translate>Close</button>
                <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal" data-ng-click="close(false);" disabled translate>Edit</button>
            </div>
        </div>  
    </div>
</div>