
<div data-ng-class="{'col-xs-12': config.name == 'meal', 'col-md-8 col-md-offset-2': config.name != 'meal'}">
    <div class="row">
        <div class="panel panel-white card">
            <div class="panel-heading" style="height: 45px;">
                <div class="panel-title" style="padding: 10px;">
                    <button type="button" class="close" ui-sref="home.dashboard.main">
                        <i class="mdi-navigation-close"></i>
                    </button>
                    <a class="btn btn-primary btn-raised btn-breadcrumbs btn-arrow-panel" ui-sref="home.dashboard.main" style="color:#fff;">
                        {{config.title}}
                    </a>
                    <a class="btn btn-white btn-breadcrumbs btn-raised btn-arrow-panel-second" style="opacity: 1!important" disabled translate>
                        Add
                    </a>
                </div>
            </div>
            <form class="form-horizontal" enctype="multipart/form-data" data-ng-submit="add();">
                <div class="panel-body">
                    <div data-ng-class="{'col-sm-offset-1 col-sm-10': config.name == 'meal', 'col-sm-offset-2 col-sm-8': config.name != 'meal'}" style="float:none;">
                    
  <!-- ========================================= MEAL =============================================== -->
  
                        <div class="icons-group-selected" data-ng-repeat="button in radios.meal.buttons" style="padding: 0;" data-ng-show="config.name == 'meal'">
                            <div class="row">
                                <div class="col-xs-1" style="padding-left:0;">
                                    <div data-ng-style="button.img" style="position: absolute;height: 53px;width: 32px;"></div>
                                </div>
                                <div class="col-xs-11" style="padding-right:0;height: 55px;">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <h4 style="margin-bottom: 0px;margin-top:2px;">{{button.title}}</h4>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            <h5 class="text-muted" style="margin-top: 5px;margin-bottom: 5px;">{{button.desc}}</h5>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 5px;">
                                        <div class="row text-center">
                                            <div style="display: inline-block;">
                                                <strong class="pull-left" style="margin-right: 10px;">—</strong>
                                                <div data-ng-repeat="level in radios.meal.levels" style="padding: 0;float: left;margin: 0;">
                                                    <input type="radio" name="{{button.type}}" data-ng-model="button.value" data-ng-click="reset(button);"
                                                           data-ng-value="level" data-ng-class="{'marginRight15': !$last}">
                                                </div>
                                                <strong class="pull-left" style="margin-left: 10px;">+</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="col-sm-12" style="margin-top: 0;margin-bottom: 0;">
                        </div>                        
                        
  <!-- ============================================================================================== -->
  
  <!-- ===================================== MOBILITY =============================================== -->
  
                        <div class="icons-group-selected" data-ng-repeat="button in radios.mobility.buttons" style="padding: 0;" data-ng-show="config.name == 'mobility'">
                            <div class="row">
                                <div class="col-xs-1" style="padding-left:0;">
                                    <div class="avatar" data-ng-style="{'background-color': button.color}" 
                                         style="line-height: 67px;position: absolute;height: 67px;width: 32px;border-radius:0;margin-top: 1px;">
                                        <i class="{{button.icon}}" style="padding-left: 0.5px;"></i>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <h4 style="margin-bottom: 0px;margin-top: 2px;">{{button.title}}</h4>
                                </div>
                                <div class="col-xs-2 text-right" style="padding-right:0;">
                                    <h5 class="text-muted" style="margin-top: 5px;margin-bottom: 5px;">(<span translate>min.</span>)</h5>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div style="display: inline-block;margin-left: 32px;height: 40px;">
                                    <div data-ng-repeat="level in radios.mobility.levels" style="padding: 0;float: left;margin: 0;">
                                        <input type="radio" name="{{button.type}}" 
                                               data-ng-class="{'marginRight15': !$last}" data-ng-model="button.value"
                                               data-ng-value="level.value" data-ng-click="reset(button);">
                                        <label style="display: block;width: 15px;">{{level.name}}'<small data-ng-show="$last">+</small></label>
                                    </div>
                                </div>
                            </div>
                            <hr class="col-sm-12" style="margin-top: 0;margin-bottom: 0;" data-ng-show="!$last">
                        </div>
                        
  <!-- ============================================================================================== -->
  
  <!-- ==================================== NUMBER OF STEPS ========================================= -->
  
                        <div class="row text-center" data-ng-if="config.name == 'steps'">
                            <div style="padding-left: 0;">
                                <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">
                                    {{config.input}} : {{$parent.value}}
                                </h4>
                                <div class="text-center">
                                	<!-- <input id="test" type="range" data-ng-model="value" min="100" max="15000" step="100"/> -->
                                	<rzslider rz-slider-model="$parent.value" rz-slider-options="config.sliderOptions"></rzslider>
                            	</div>
                            </div>
                            
                        </div>
                        
  <!-- ============================================================================================== -->
  
  <!-- ======================================= SYMPTOMS ============================================= -->
  						<div class="text-center" data-ng-show="config.name == 'symptoms'">
                            <div ng-repeat="symptom in symptoms">
				            	<h4 class="text-center">{{symptom.title}}</h4>
				            	<div class="text-center" ng-click="select(0, symptom)" 
				            	ng-style="symptom.buttons[0].img" style="margin: 5px;padding: 5px;height: 48px;width: 48px;cursor: pointer; display: inline-block;">
				            	</div>
				            	<div class="text-center" ng-click="select(1, symptom)" 
				            	ng-style="symptom.buttons[1].img" style="margin: 5px;padding: 5px;height: 48px;width: 48px;cursor: pointer; display: inline-block;">
				            	</div>
				            	<div class="text-center" ng-click="select(2, symptom)" 
				            	ng-style="symptom.buttons[2].img" style="margin: 5px;padding: 5px;height: 48px;width: 48px;cursor: pointer; display: inline-block;">
				            	</div>
				            </div>
                            
                        </div>
  
  <!-- ============================================================================================= -->  
  <!-- =================================== BLOOD PRESSURE ========================================== -->
  						<div class="row text-center" data-ng-show="config.name == 'bloodpressure'">
                            <div class="col-xs-12">
    		                    <div class="form-group" style="padding:0;margin-bottom:0;">
    		                        <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">
                                        {{config.input}}
                                    </h4>
    		                        <input type="number" name="systo" class="form-control text-center" style="display:inline-block;width: auto;" 
    		                        	data-ng-model="bp.systo" 
    		                               placeholder="Sys" step="1" min="0" max="250"> / 
    		                        <input type="number" name="diasto" class="form-control text-center" style="display:inline-block;width: auto;" data-ng-model="bp.diasto" 
    		                        placeholder="Dias" step="1" min="0" max="250"> mmHg
    		                        
    		                    </div>
    		                </div>   
                        </div>
  <!-- ============================================================================================== -->  
  <!-- ====================================== HEART RATE ============================================ -->
  						<div class="row text-center" data-ng-if="config.name == 'heartrate'">
                        
		                    <div class="form-group" style="padding:0;margin-bottom:0;">
		                        <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">
                                    {{config.input}}
                                </h4>
		                        <input type="number" name="heartrate" class="form-control text-center" style="display:inline-block;width: auto;" 
		                        	   data-ng-model="value"  placeholder="{{config.inputPlaceholder}}" step="1" min="0">
		                        {{config.inputPlaceholder}} <br>
			                    <label class="radio-inline">
			                        <input type="radio" name="hrType" data-ng-model="hrType" value="atRest">
			                        <span translate>At rest</span>
			                       </label>
								<label class="radio-inline">
									<input type="radio" name="hrType" data-ng-model="hrType" value="afterExercise">
									<span translate>After exercise</span>
								</label>		                        
		                    </div>
		               
                        </div>
  <!-- ============================================================================================== -->  
  <!-- ===================================== LIQUID ================================================= -->
  						<div class="row text-center" data-ng-show="config.name == 'liquid'">
                        
		                 <div class="form-group flex-group" data-ng-repeat="liquid in liquids">
						    <label class="control-label col-sm-6 text-right" style="width:50%" for="water">{{liquid.name}}</label>
						    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px; white-space : nowrap;">
						    	<div style="display:inline-block;" data-ng-repeat="val in liquid.values">
						    	<div data-ng-style="val.img" style="height: 48px;width: 48px;text-align:center;margin-left:8px;"></div>
						    	
						    	<div style="border:1px solid grey;margin:2px;">
						    	<button type="button" class="btn btn-xs"  data-ng-click="val.value=decIfGreaterThanZero(val.value,1);"
						    	style="width:20px;height:20px;padding:4px;margin: 0px;line-height: 0.6;font-size:1.3em;background-color:#b0bec5;">
						          -
						        </button>
						        {{val.value}}
						        <button type="button" class="btn btn-xs" data-ng-click="val.value=val.value+1;"
						        style="width:20px;height:20px;padding:4px;margin: 0px;line-height: 0.6;font-size:1.3em;background-color:#b0bec5;">
						          +
						        </button>
						        </div>
						        </div>
						        
						    </div>			   
						 </div>
                        </div>
  
  <!-- ============================================================================================== -->  
  <!-- ====================================== SALT ================================================== -->
  						<div class="row text-center" data-ng-show="config.name == 'salt'">
                        	
        					<div data-ng-repeat="food in salt">
        					
        					<h4><span style="text-decoration: underline;">{{food.category}}</span>
        					<span class="glyphicon glyphicon-expand" 
        					data-ng-show="!food.expand" 
        					style="cursor: pointer" data-ng-click="food.expand=true"></span>
        					<span class="glyphicon glyphicon-collapse-down" 
        					data-ng-show="food.expand" 
        					style="cursor: pointer" data-ng-click="food.expand=false"></span>
        					</h4>
        					
        					<div data-ng-show="food.expand" class="form-group" data-ng-repeat="val in food.values">
        					<div class="flex-group">
						    <label class="col-sm-6 text-left" style="width:50%" for="water">
						    {{val.name}}
						    </label>
						    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px; white-space : nowrap;">
						    	<div style="border:1px solid grey;margin:2px;display:inline-block; padding-left:0px; white-space : nowrap;"
						    	data-ng-show="isNumber(val.value)">
						    	<button type="button" class="btn btn-xs"  data-ng-click="val.value=decIfGreaterThanZero(val.value, val.inc);"
						    	style="width:20px;height:20px;padding:4px;margin: 0px;line-height: 0.6;font-size:1.3em;background-color:#b0bec5;">
						          -
						        </button>
						        {{val.value}}
						        <button type="button" class="btn btn-xs" data-ng-click="val.value=val.value + val.inc;"
						        style="width:20px;height:20px;padding:4px;margin: 0px;line-height: 0.6;font-size:1.3em;background-color:#b0bec5;">
						          +
						        </button>
						        </div>
						        <div class="checkbox" data-ng-show="!isNumber(val.value)">
						        <label class="checkbox-inline">
						        <input type="checkbox" data-ng-model="val.value">
						        </label>
						        </div>
						        <span style="display:inline-block; padding-left:0px; white-space : nowrap;">{{val.unit}}</span>
							 </div>	
							  </div>
							 <div class="text-muted text-left" data-ng-show="val.muted != ''">{{val.muted}}</div>
							 
							 </div>
							 <hr>   		   
							 </div>
                        </div>
  
  <!-- ============================================================================================== -->
  <!-- ============================== GLYCAEMIA, INSULIN, WEIGHT ==================================== -->
  
                        <div class="row text-center" data-ng-hide="config.name != 'glycaemia' && config.name != 'insulin' && config.name != 'weight'">
                            <div data-ng-class="{'col-xs-6': config.name == 'insulin'}" style="padding-left: 0;">
                                <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">
                                    {{config.input}}
                                </h4>
                                <input type="number" class="form-control text-center" data-ng-model="value" placeholder="{{config.inputPlaceholder}}" step="0.1" min="0">
                            </div>
  <!-- ====================================== (insulin) ============================================= -->
                            <div class="col-xs-6" style="padding-right: 0;" data-ng-show="config.name == 'insulin'">
                                <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;" translate>
                                    Acting
                                </h4>
                                <select class="form-control" data-ng-model="insulinType" 
                                        data-ng-options="insulinType.value as insulinType.name for insulinType in config.insulinTypesList">
                                </select>
                            </div>
                        </div>
                        
  <!-- ============================================================================================== -->
  <!-- ======================================== DURATION ============================================ -->
  
                        <div class="row text-center" data-ng-show="config.duration">
                            <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">{{config.duration}}</h4>
                            <div class="row" style="display: inline-block;" data-ng-hide="more">
                                <div style="padding: 0;float: left;margin: 0;" data-ng-repeat="level in radios.sport.duration.levels">
                                    <input data-ng-class="{'marginRight15': !$last}" type="radio" name="duration" 
                                           data-ng-model="radios.sport.duration.value" data-ng-value="level.value">
                                    <label style="display: block;width: 15px;">{{level.name}}'<small data-ng-show="$last">+</small></label>
                                </div>
                            </div>
                            <div class="row" style="display: inline-block;margin-bottom: 10px;" data-ng-show="more">
                                <input type="time" class="form-control text-center" data-ng-model="advancedDuration" data-ng-show="checkDateInput()">
                                <input type="text" class="form-control text-center" pick-a-time="advancedDuration" pick-a-time-options="{ format: 'HH:i', interval: 1}" data-ng-hide="checkDateInput()">
                            </div>
                        </div>
                        
  <!-- ============================================================================================== -->
  <!-- ======================================= INTENSITY ============================================ -->
  <!-- ======================================== (sport) ============================================= -->
  
                        <div class="row text-center" data-ng-show="config.intensity">
                            <h4 class="text-center" style="margin-top: 5px;margin-bottom: 5px;">{{config.intensity}}</h4>
                            <div class="row" style="display: inline-block;">
                                <strong class="pull-left" style="margin-right: 10px;">—</strong>
                                <div style="padding: 0;float: left;margin: 0;" data-ng-repeat="level in radios.sport.intensity.levels">
                                    <input data-ng-class="{'marginRight15': !$last}" type="radio" name="intensity"
                                           data-ng-model="radios.sport.intensity.value" data-ng-value="level">
                                </div>
                                <strong class="pull-left" style="margin-left: 10px;">+</strong>
                            </div>
                        </div>
                        
  <!-- ============================================================================================== -->
  <!-- ========================================== DATE ============================================== -->
  
                        <div class="row text-center" style="margin-top:10px;">
                            <div data-ng-hide="checkDateInput()">
                                <div data-ng-class="{'col-xs-6': config.name != 'mobility', 'col-xs-12': config.name == 'mobility'}" style="padding-left: 0;">
                                    <h4 class="text-center" style="margin-top: 5px;margin-bottom: 5px;" translate>Date</h4>
                                    <input type="text" class="form-control text-center" pick-a-date="myDate"
                                           pick-a-date-options="{ format: 'dd/mm/yyyy'}" required>
                                </div>
                                <div class="col-xs-6" style="padding-right: 0;" data-ng-hide="config.name == 'mobility'">
                                    <h4 class="text-center" style="margin-top: 5px;margin-bottom: 5px;" translate>Time</h4>
                                    <input type="text" class="form-control text-center" pick-a-time="myTime" 
                                           pick-a-time-options="{ format: 'HH:i', interval: 1}">
                                </div>
                            </div>
                            <div data-ng-show="checkDateInput()">
                                <div data-ng-class="{'col-xs-6': config.name != 'mobility', 'col-xs-12': config.name == 'mobility'}" style="padding-left: 0;">
                                    <h4 class="text-center" style="margin-top: 5px;margin-bottom: 5px;" translate>Date</h4>
                                    <input type="date" class="form-control text-center" data-ng-model="myDate" required>
                                </div>
                                <div class="col-xs-6" style="padding-right: 0;" data-ng-hide="config.name == 'mobility'">
                                    <h4 class="text-center" style="margin-top: 5px;margin-bottom: 5px;" translate>Time</h4>
                                    <input type="time" class="form-control text-center" data-ng-model="myTime">
                                </div>
                            </div>
                        </div>
                    
  <!-- ============================================================================================== -->
  <!-- ===================================== NEW MEALS ============================================== -->

                        <div data-ng-show="config.name == 'meal'">
                            <div class="row" data-oc-lazy-load="['bower_components/ng-file-upload/ng-file-upload.min.js']">
    <!-- ======================================== (selected food) ============================================= -->
                                <div class="col-xs-12 col-sm-5" data-ng-class="{'element-hidden' : selectedFood.length == 0}">
                                    <h4 class="text-center">Selected food</h4>
                                    <div style="height: 28px; display: block;"></div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Amount</th>
                                                <th>Portion</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="food in selectedFood">
                                                <td>{{food.name}}</td>
                                                <td>
                                                    <input class="form-control" type="number" min="0.1" step="0.1" value="1" data-ng-model="food.amount" data-ng-change="calculateAmount($index, food.amount)" autofocus="autofocus">
                                                </td>
                                                <td>
                                                    <span data-ng-model="food.totalAmount">{{food.totalAmount}} g</span>
                                                </td>
                                                <td>
                                                    <i class="fas fa-trash-alt fa-1x" data-ng-click="removeFood(food.name)" aria-hidden="true"></i>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4>Carbs: <strong>{{ carbsTotal }} g</strong></h4>
                                        </div>
                                        <div class="col-xs-6 text-center">
                                            <label class="btn btn-sm btn-info btn-block">
                                                ADD <input type="file" id="inputFile" ngf-select data-ng-model="mealUpload.photoMeal" ngf-pattern="image/*" ngf-max-size="5MB" data-ng-change="displayFilename()" style="display: none;">
                                                <i class="fas fa-camera-retro fa-2x" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </div>
                                          {{ ::errorMsgUpload }}
                                          <h4 class="pull-right" data-ng-if="filename">Photo: {{ filename }}
                                            <i class="fas fa-times" style="cursor: pointer;" aria-hidden="true" data-ng-click="removePhoto()"></i>
                                          </h4>
                                          <br />
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                <button type="button" class="btn btn-md btn-primary" style="margin: 0px 1px" data-ng-click="saveMeal()" translate>Save Meal</button>
                                            </div>                                    
                                        </div>
                                    </div>                                       
                                </div>
    <!-- ======================================== (list of products) ============================================= -->
                                <div class="col-xs-12 col-sm-7">
                                    <h4 class="text-center">{{mealTitle}}</h4>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <input type="text" name="foodname" data-ng-model="searchFoodText" class="form-control text-center" placeholder="Type the food name">
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-xs btn-primary" style="margin: 0px 1px" data-ng-click="searchFood()" translate>Search
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h4 data-ng-if="foodProducts.length == 0">{{ ::noResults }}</h4>
                                        <div class="col-xs-12" data-ng-show="foodProducts.length">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="addScroll">
                                                        <table class="table">
                                                            <thead>
                                                              <tr>
                                                                <th class="col-xs-3">Name</th>
                                                                <th class="col-xs-3">Group</th>
                                                                <th class="col-xs-3">Grade</th>
                                                                <th class="col-xs-3"></th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr data-ng-repeat="food in foodProducts">
                                                                    <td>{{ food.name }}</td>
                                                                    <td>{{ food.foodGroup }}</td>
                                                                    <td>{{ food.grade }}</td>
                                                                    <td data-ng-if="show == 'true'">
                                                                        <button type="button" class="btn btn-primary btn-xs" data-ng-click="addFood(food.name)">
                                                                            <i class="fas fa-plus" aria-hidden="true"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                        </div>

  <!-- ============================================================================================== -->
  <!-- ===================================== COMMENTS =============================================== -->
  
                    <div class="col-sm-offset-2 col-sm-8 text-center" style="float:none;" data-ng-show="more">
                        <div class="row" style="margin-top:15px;">
                            <h4 class="text-center" style="margin-top: 5px;margin-bottom: 5px;"><span translate>Comments</span></h4>
                            <input type="text" class="form-control" data-ng-model="comments"
                                   placeholder="{{config.commentsPlaceholder}}">
                        </div>
                    </div>
                </div>
                <div style="padding:0;">
                    <div class="pull-left" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-default btn-flat" style="margin: 0px 1px" data-ng-click="toggleMore();">
                            <span translate data-ng-show="!more">More</span><span data-ng-show="more" translate>Less</span>
                            <i data-ng-class="{'mdi-navigation-expand-more': !more,'mdi-navigation-expand-less': more}" style="font-size:18px;"></i>
                        </button>
                    </div>
                    
  <!-- ============================================================================================== -->
  
                    <div class="pull-right" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-default btn-flat" style="margin: 0px 1px" ui-sref="home.dashboard.main" translate>Cancel</button>
                        <button type="submit" class="btn btn-primary btn-flat" style="margin: 0px 1px" 
                                data-ng-disabled="!verify();" translate>Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>