<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-white card">
            <div class="panel-heading" style="height: 45px;">
                <div class="panel-title" style="padding: 10px;">
                    <button type="button" class="close" ui-sref="home.dashboard.main">
                        <i class="mdi-navigation-close"></i>
                    </button>
                    <a class="btn btn-primary btn-raised btn-breadcrumbs btn-arrow-panel" ui-sref="home.dashboard.main" style="color:#fff;">
                        Insulin
                    </a>
                    <a class="btn btn-white btn-breadcrumbs btn-raised btn-arrow-panel-second" style="opacity: 1!important" disabled>
                        Estimate
                    </a>
                </div>
            </div>
            <form class="form-horizontal">
                <!-- data-ng-submit="showRecommend"-->
                <div class="panel-body">
                    <div class="col-sm-offset-2 col-sm-8" style="float:none;">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;" translate> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{::config.context.name}}</td>
                                    <td>
                                        <select class="form-control text-center" data-ng-model="config.context.value" data-ng-change="showFct();" data-ng-options="type.name for type in config.types_context"></select>
                                    </td>
                                </tr>
                                <!-- In case of meal -->
                                <tr ng-show="showMeal">
                                    <td > {{::config.meal[0].name|translate}} </td>
                                    <td>
                                        <input data-ng-model="config.meal[0].value" class="form-control text-center" placeholder="g" type="number" step="any" checked="" min=5>
                                    </td>
                                </tr>
                                <!--   <tr ng-show = "showMeal">
                                     <td> {{config.meal[1].name}} </td>
                                        <td>
                                            <select data-ng-model="config.meal[1].value" class="form-control text-center" data-ng-options="type.name for type in config.types_meals"></select>
                                        </td>
                                    </tr> -->
                                <tr data-ng-repeat="value in config.values">
                                    <td style="border-bottom: none;width:20%"">{{::value.name}}</td>
                                    <td style="border-bottom: none;">
                                        <input data-ng-model="value.value" class="form-control text-center" placeholder="mg/dL" type="number" step="any" checked="" min=35 max=450>
                                    </td>
                                    <!--input style="text-align: center;" data-ng-model="sport.planned" class="form-control text-center"  type="checkbox"> -->
                                </tr>
                                <tr ng-if="config.values[0].value">
                                    <td style="border-top :none;"> </td>
                                    <td  style="border-top:none;">
                                        <div class="pull-right">
                                            <div class="togglebutton" style="float:left;">
                                                <text style="color:grey;font-size:13px;font-style: italic;">Log it ? </text> 

                                                <label>
                                                    <input type="checkbox" checked="" data-ng-change="fastlog.gly:!fastlog.gly" data-ng-model="fastlog.gly">
                                                </label>
                                            </div>
                                            <span data-ng-if="fastlog.gly" class="text-muted" style="color:grey;font-size:13px;font-style: italic;">&nbsp; Y</span>
                                            <span data-ng-if="!fastlog.gly" class="text-muted" style="color:grey;font-size:13px;font-style: italic;">&nbsp; N</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="showMeal">
                                    <td width=48%>Sport planned within 2h after meal ?</td>
                                    <td>
                                        <!--input style="text-align: center;" data-ng-model="sport.planned" class="form-control text-center" type="checkbox"> -->
                                        <div class="pull-right">
                                            <div class="togglebutton" style="float:left;">
                                                <label>
                                                    <input type="checkbox" checked="" data-ng-change="sport.planned:!sport.planned" data-ng-model="sport.planned">
                                                </label>
                                            </div>
                                            <span data-ng-if="sport.planned" class="text-muted" style="color:grey;font-size:13px;font-style: italic;">&nbsp; Y</span>
                                            <span data-ng-if="!sport.planned" class="text-muted" style="color:grey;font-size:13px;font-style: italic;">&nbsp; N</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center;" ng-show="sport.planned">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <div class="panel-body">
                                    <div class="row text-center" data-ng-show="sport.planned">
                                        <h5 class="text-center" style="margin-top: 0;margin-bottom: 5px;"> <a ng-click="showInfo();"> <span class="glyphicon glyphicon-info-sign"> </span></a> Intensity</h5>
                                        <div class="row toggle-btn-grp joint-toggle" style="display: inline-block;">
                                            <div style="padding: 0;float: left;margin: 0;" data-ng-repeat="level in [1, 2, 3]">
                                                <input data-ng-class="{'marginRight15': !$last}" type="radio" style="border:4px;" data-ng-model="sport.intensity" data-ng-value="level">
                                                <label style="display: block;width: 20px;">{{level}}<small data-ng-show="$last"></small></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center" data-ng-show="sport.planned">
                                        <h5 class="text-center" style="margin-top: 0;margin-bottom: 5px;">Duration (min.) </h5>
                                        <div class="row toggle-btn-grp joint-toggle" style="display: inline-block;">
                                            <div style="padding: 0;float: left;margin: 0;" data-ng-repeat="levelb in [1, 2, 3,4,5,6]">
                                                <input data-ng-class="{'marginRight15': !$last}" type="radio" style="border:4px;" data-ng-model="sport.duration" data-ng-value="levelb">
                                                <label style="display: block;width: 20px;">{{levelb*15}}<small data-ng-show="$last">+</small></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <td>
                                            <a ng-click="showInfo();"> <span class="glyphicon glyphicon-info-sign"> </span></a> Sport intensity :
                                            <text style="font-weight:bold">{{sport.intensity}} </text>
                                            </br>
                                        </td>
                                        <td>
                                            <input data-ng-model="sport.intensity" class="form-control text-center" type="radio" min="1" max="3">
                                            <text class=pull-right>3</text>
                                        </td> 
                            
                                <tr ng-show="sport.planned">
                                    <td>Sport duration :
                                        <text style="font-weight:bold">{{sport.duration*15}} min</text>
                                    </td>
                                    <td>
                                        <input data-ng-model="sport.duration" class="form-control text-center" min="1" max="6" type="range" step="1">
                                        <text class=pull-right>90+</text>
                                    </td>
                                </tr> -->
                        </div>
                        <div class="panel panel-info" ng-show="!aboveTresh && showRecommend">
                            <div class="panel-heading panel-exp " style="text-align: center; background-color:#009688;">
                                <text style="font-weight: bold;"> RECOMMENDATION :</text>
                                <br> In our opinion, your situation seems stable enough. See you later ;-) !
                                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" ng-click="expanded = !expanded"> </a>
                            </div>
                        </div>
                        <div class="panel panel-info" ng-show="showRecommend && aboveTresh">
                            <div class="panel-heading panel-exp " style="text-align: center; background-color:#009688;" ng-show="showSug">
                                <text style="font-weight: bold;"> RECOMMENDATION :</text>
                                <br> Snack with <b>{{sugar}}</b> g of carbs
                                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" ng-click="expanded = !expanded"> </a>
                            </div>
                            <div class="panel-heading panel-exp" style="text-align: center; background-color:#009688;" ng-show="!showSug">
                                <text style="font-weight: bold;"> RECOMMENDATION :</text>
                                <br><b> {{bol_total}}</b> U insulin
                                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" ng-click="expanded = !expanded"> </a>
                            </div>
                            <!--   <div id="collapseOne" class="panel-collapse collapse" translate>
                            DETAILS -->
                            <!--<div class="panel panel-default" style="padding:0.5em;">
                                    <div class="panel-heading " style="text-align: center;">
                                        <span class="glyphicon glyphicon-info-sign"></span> <b>Details</b>
                                    </div>
                                    <!--<div id="collapseTwo" class="panel-collapse collapse" translate>-->
                            <div id="collapseOne" class="panel-body panel-collapse collapse" translate>
                                Based on your registered data and
                                <a ui-sref="home.dashboard.objective({card: 'insulin'})">
                                settings,
                                <!-- <button class="btn btn-primary btn-raised btn-objectives btn-xs ">
                                    <span class="glyphicon glyphicon-wrench "></span> Settings
                                </button> -->
                            </a>
                                <!-- BTWN MEALS - HYPER -->
                                <text ng-show="!showSug && config.context.value.value !=='meal'">the estimated rapid-acting insulin dose we recommend to you is <b> {{bol_total}} </b> unit(s) to cover your </b> hyperglycaemia </b>.</text>
                                <!-- BTWN MEALS - HYPO or future hypo -->
                                <text ng-show="showSug && !sport.planned && alert.iob">we recommend you to eat a snack with <a ng-click="showSugarTable();"> {{sugar}} [g] </a> of carbohydrates in order to compensate your <b>high active insulin</b> and avoid hypoglycaemia.</text>
                                <text ng-show="showSug && !sport.planned && !alert.iob">we recommend you to eat a snack with <a ng-click="showSugarTable();">  {{sugar}} [g] </a> of carbohydrates in order to cover your <b>hypoglycaemia</b>.</text>
                                <!-- BEFORE MEAL -->
                                <text ng-show="config.context.value.value =='meal'">the estimated rapid-acting insulin dose we recommend to you is <b> {{bol_total}} </b> unit(s) ideally 20 minutes prior to your meal.</text>
                                <!-- BEFORE SPORT -->
                                <text ng-show="showSug && sport.planned">we recommend you to eat a snack with <a ng-click="showSugarTable();"> {{sugar}} [g]  </a> of carbohydrates in order to cover your upcoming <b>physical activity</b>.</text>
                                <br> </br>
                                This recommendation takes into account the following parameters :
                            </div>
                            <table ng-show="expanded" class="table table-striped table-hover table-responsive table-condensed" style="font-size: 13px;">
                                <tbody>
                                    <thead>
                                        <td><b> Parameter </b></td>
                                        <td><b> Value</b></td>
                                        <td><b> Unit </b></td>
                                    </thead>
                                    <tr>
                                        <td>Meal Bolus</td>
                                        <td> {{bol_meal| number:1}} </td>
                                        <td> U </td>
                                    </tr>
                                    <tr>
                                        <td> Correction Bolus </td>
                                        <td> {{bol_corr| number:1}}</td>
                                        <td> U </td>
                                    </tr>
                                    <tr>
                                        <td>Insulin on Board</td>
                                        <td> {{iob| number:1}} </td>
                                        <td> U </td>
                                    </tr>
                                    <tr>
                                        <td>Exercise Factor</td>
                                        <td> {{corrfactor| number:1}} </td>
                                        <td> / </td>
                                    </tr>
                                    <tr>
                                        <td>I/G ratio</td>
                                        <td>{{igratio}} </td>
                                        <td> U/10g </td>
                                    </tr>
                                    <tr>
                                        <td>Insulino-sensitivity</td>
                                        <td> {{correction| number:1}} </td>
                                        <td> mg/dL per U </td>
                                    </tr>
                                    <tr>
                                        <td>Optimal Glycaemia</td>
                                        <td> {{opt_gly| number:0}} </td>
                                        <td> mg/dL </td>
                                    </tr>
                                    <tr>
                                        <td>Weight</td>
                                        <td> {{weight| number:1}} </td>
                                        <td> kg</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--
                                    <ul>
                                        <li>the bolus to cover your <b>meal </b>of {{bol_meal}} unit(s) ;</li>
                                        <li>the <b>correction</b> bolus of {{bol_corr}} unit(s) ;</li>
                                        <li>your <b>insulin on board </b> of {{iob}} unit(s); </li>
                                        <li>the exercise <b>correction factor</b> of {{corrfactor}} </li>
                                    </ul>
                                    With the following settings :
                                    <ul>
                                        <li>the <b>IG ratio</b> of {{igratio}} U/10g; </li>
                                        <li>your <b>insulino-sensitivity</b> of {{correction}} mg/dL per U </li>
                                        <li>the standard <b>optimal glycaemia</b> {{opt_gly}} mg/dL (depending on your last meal) </li>
                                        <li ng-show="config.context.value.value =='sport'">your <b>weight</b> : {{weight}} kg </li>
                                    </ul> -->
                            <!--</div>-->
                            <!-- END OF DETAILS -->
                            <!--  <div class="alert alert-warning" style="color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc;">
                                <span class="glyphicon glyphicon-exclamation-sign"></span> <i>Please note that this recommendation is not intended to be a substitute for professional medical advice or treatment. </i>
                            </div> -->
                        </div>
                    </div>
                    <!-- BUTTONS -->
                    <div class="pull-right " style="padding: 0px 0px 15px 0px; ">
                        <button type="button" class="btn btn-default  btn-flat" style="margin: 0px 1px;color:grey;" ui-sref="home.dashboard.main " translate>Quit</button>
                        <button type="button" class="btn btn-primary btn-flat" style="margin: 0px 1px " data-ng-click="addBolus(bol_total);" ng-show="showRecommend && aboveTresh &&!showSug">
                            Add entry
                        </button>
                        <button type="button" class="btn btn-primary btn-flat " style="margin: 0px 1px " data-ng-disabled="!verify()" ng-show="!(showRecommend && aboveTresh &&!showSug)" data-ng-click="getAlert(); getRecommend(); " translate>Estimate</button>
                    </div>
            </form>
            </div>
        </div>
    </div>