<div class="text-center helper text-muted" data-ng-if="cards.length == 0">
    <i data-ng-class="{'mdi-editor-insert-chart': cards.length == 0}"></i>
    <p class="lead">{{helper.msg1}}</p>
    <p>{{helper.msg2}}</p>
</div>
<div data-ng-repeat="ask in asks" data-ng-include="'templates/dashboard/asks/' + ask.name + '.html'">
</div>
<div data-ng-repeat="card in cards" data-ng-include="'templates/dashboard/cards/' + card.name + '.html'" data-ng-class="{'height100': card.name == 'audit'}">
</div>
<div id="footerBottom" ng-hide="role =='2'">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom" style="border-top: 2px solid #e5e5e5e3!important;
    ">
        <div class="row" id="bottomNav">
            <div container="col-xs-12 col-md-8 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-4 col-md-2 col-md-offset-3 text-center"><a href="#" ng-click="showWidgets('Monitoring');" data-ng-class="{'bottomNavActive': selectedModule == 'monitoring'}"><i class="fas fa-heartbeat fa-2x"></i><br>Monitoring</a></div>
                    <div class="col-xs-4 col-md-2 text-center"><a href="#" ng-click="showWidgets('Treatment');" data-ng-class="{'bottomNavActive': selectedModule == 'treatment'}"><i class="fas fa-medkit fa-2x"></i><br>Treatment</a></div>
                    <div class="col-xs-4 col-md-2 text-center"><a href="#" ng-click="showWidgets('Lifestyle');" data-ng-class="{'bottomNavActive': selectedModule == 'lifestyle'}"><i class="fas fa-user fa-2x"></i><br>Lifestyle</a></div>
                    <!--<div class="col-xs-3 col-md-2 text-center"><a href="#" ng-click="showWidgets('Educoaching');" data-ng-class="{'bottomNavActive': selectedModule == 'educoaching'}"><i class="fa fa-graduation-cap fa-2x"></i><br>Educoaching</a></div>-->
                </div>
            </div>
        </div>
    </div>
</div>