<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-white card">
            <div class="panel-heading" style="height: 45px;">
                <div class="panel-title" style="padding: 10px;">
                    <button type="button" class="close" ui-sref="home.dashboard.main">
                        <i class="mdi-navigation-close"></i>
                    </button>
                    <a class="btn btn-primary btn-raised btn-breadcrumbs btn-arrow-panel" ui-sref="home.dashboard.main" style="color:#fff;">
                        {{config.title}}
                    </a>
                    <a class="btn btn-white btn-breadcrumbs btn-raised btn-arrow-panel-second" style="opacity: 1!important" disabled>
                        {{config.objective}}
                    </a>
                </div>
            </div>
            <form class="form-horizontal" data-ng-submit="setObjective();">
                <div class="panel-body">
                    <div class="col-sm-offset-2 col-sm-8" style="float:none;">
                        <div data-ng-show="config.name == 'meal'">
                            <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">
                                {{config.help}}
                            </h4>
                            <div class="text-center">
                                <div class="togglebutton text-center">
                                    <label>
                                        <span data-ng-if="position" class="text-muted" style="font-weight: 200;">&nbsp; ON</span>
                                        <span data-ng-if="!position" class="text-muted" style="font-weight: 200;">&nbsp; OFF</span> &nbsp;&nbsp;
                                        <input data-ng-model="position" type="checkbox" checked="">
                                    </label>
                                </div>
                            </div>

                            <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">
                                {{config.help2}}
                            </h4>
                            <br />
                            <div class="row text-center">
                                <div class="col-xs-6 " style="padding-right: 0; " data-ng-repeat="goal in config.values">
                                    <h4 class="text-center " style="margin-top: 0;margin-bottom: 5px; ">
                                    {{goal.name}} <small>({{goal.unit}})</small>
                                </h4>
                                    <input type="number " class="form-control text-center " data-ng-model="goal.value " placeholder="{{goal.name}} " step="0.1 ">
                                </div>
                            </div>

                        </div>
                        <div data-ng-show="config.name == 'insulin'">
                           <div class="alert alert-danger" data-ng-if="!errors.valid">
                                <ul>
                                    <li ng-if="errors.notComplete"> Please fill all the mandatory (*) fields. </li>
                                    <li ng-if="errors.minmax"> The Min Glycaemia target should lie between 50 mg/dL and 120 mg/dL. </li>
                                    <li ng-if="errors.minmax"> The Max Glycaemia target should lie between 100 mg/dL and 250 mg/dL. </li>
                                    <li ng-if="errors.prandmax"> The Post-prandial Max target should lie between Max Glycaemia target and 300 mg/dL. </li>
                                    <li ng-if="errors.sensibility"> The Insulin-To-Carb ratios should lie between 1 and 30.</li>
                                    <li ng-if="errors.corrfact"> The correction factor should lie between 0 mg/dL and 150 mg/dL.</li>
                                    <li ng-if="errors.corrtresh"> The correction treshold should lie between Max Glycaemia target and 250.</li>
                                </ul>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading ">
                                    <thead style="text-align: center; ">
                                        <text style="font-weight: bold; "> Glycemic targets </text> <a ng-click="showInfoGly(); "> <span class="glyphicon glyphicon-info-sign " style="color: white;margin-top:3px ;margin-left:3px ">
                                    </span>
                                    </a>
                                    </thead>
                                </div>
                                <table class="table table-hover table-striped ">
                                    <tbody>
                                        <tr data-ng-repeat="value in config.values|filter:filterBgTargets ">
                                            <td style="width: 40%;">{{::value.name}}
                                                <text style="color:red">*</text>
                                            </td>
                                            <td>
                                                <input data-ng-model="value.value " class="form-control text-center " placeholder="{{ 'mg/dL'|translate}} " type="number " checked=" " step="any " min=50 required>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="panel-heading">
                                    <thead>
                                        <text style="font-weight: bold; "> Insulin-To-Carb Ratios </text>
                                    </thead>
                                </div>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                        <tr data-ng-repeat="value in config.values|filter:filterSensibilities ">
                                            <td style="width: 40%;">{{::value.name}}
                                                <text style="color:red">*</text>
                                            </td>
                                            <td>
                                                <input data-ng-model="value.value " class="form-control text-center " placeholder="{{ 'Unit(s) per 10g'|translate}} " type="number " checked=" " step="any " min=0 required>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="panel-heading ">
                                    <thead>
                                        <text style="font-weight: bold; "> Correction </text>
                                    </thead>
                                </div>
                                <table class="table table-hover table-striped ">
                                    <tbody>
                                        <tr data-ng-repeat="value in config.values|filter:filterCorrection ">
                                            <td style="width: 40%;">{{::value.name}}
                                                <text style="color:red">*</text>
                                            </td>
                                            <td ng-if="value.when=='factor'">
                                                <input data-ng-model="value.value " class="form-control text-center " placeholder="{{ 'mg/dL per unit'|translate}} " type="number " checked=" " step="any " min=0 required>
                                            </td>
                                            <td ng-if="value.when=='tresh'">
                                                <text style="color:red;font-size:13px;font-style: italic;" ng-if="treshInvalid"> The correction treshold should be equals or greater than {{optGlyMax}} mg/dL </text>
                                                <input data-ng-model="value.value " class="form-control text-center " placeholder="{{ 'mg/dL'|translate}} " type="number " checked=" " step="any " min=0 required>
                                            </td>
                                            <!-- <td> mg/dL per unit </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="panel-heading ">
                                    <thead>
                                        <text style="font-weight: bold; "> Schema </text>
                                    </thead>
                                </div>
                                <table class="table table-hover table-striped ">
                                    <tbody>
                                        <tr data-ng-repeat="value in config.values|filter:filterSchema ">
                                            <td>{{value.name}}</td>
                                            <td>
                                                <input data-ng-model="value.value " class="form-control text-center " placeholder="{{ 'Unit(s)'|translate}} " type="number " checked=" ">
                                            </td>
                                            <td>
                                                <select class="form-control " data-ng-model="value.type " placeholder="{{ 'Type'|translate}} " data-ng-options="type.value as type.name for type in config.types "></select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div data-ng-show="config.name=='glycaemia' ">
                            <div class="row text-center ">
                                <div class="col-xs-6 " style="padding-right: 0; ">
                                    <h4 class="text-center " style="margin-top: 0;margin-bottom: 5px; ">
                                    {{config.values[0].name}} <small>({{config.unit}})</small>
                                </h4>
                                    <input type="number " class="form-control text-center " data-ng-model="config.values[0].value " placeholder="{{config.placeholder}} " step="0.1 ">
                                </div>
                                <div class="col-xs-6 " style="padding-right: 0; ">
                                    <h4 class="text-center " style="margin-top: 0;margin-bottom: 5px; ">
                                    {{config.values[1].name}} <small>({{config.unit}})</small>
                                </h4>
                                    <input type="number " class="form-control text-center " data-ng-model="config.values[1].value " placeholder="{{config.placeholder}} " step="0.1 ">
                                </div>
                            </div>
                        </div>
                        <div data-ng-hide="config.name=='meal' || config.name=='insulin' || config.name=='glycaemia' ">
                            <h4 class="text-center " style="margin-top: 0;margin-bottom: 5px; ">
                                {{config.value.name}} <small>({{config.unit}})</small>
                            </h4>
                            <input type="number " class="form-control text-center " data-ng-model="config.value.value " placeholder="{{config.placeholder}} " step="0.1 " min="0 ">
                        </div>
                    </div>
                </div>
                <div class="pull-left " style="padding: 0px 0px 15px 0px; " data-ng-hide="config.name=='meal' || config.name=='insulin' ">
                    <button class="btn btn-danger btn-flat " type="button " style="margin: 0px 1px " data-ng-click="deleteObjective(); " data-ng-disabled="!verify(); " translate>Delete</button>
                </div>
                <div class="pull-right " style="padding: 0px 0px 15px 0px; ">
                    <button type="button " class="btn btn-default btn-flat " style="margin: 0px 1px " ui-sref="home.dashboard.main " translate>Cancel</button>
                    <button type="submit " class="btn btn-primary btn-flat " style="margin: 0px 1px " data-ng-disabled="!verify(); " translate>Validate</button>
                </div>
            </form>
        </div>
    </div>
</div>