<p translate>Accepted your contact request</p>
<p translate>Sent you a contact request.</p>
<p translate>Remember to drink water more often! At least <b>1,5 liters of water</b> per day.</p>
<p translate>Agenda</p>
<p translate>Tips & Tricks</p>
<p translate>Intelligent Assistant</p>
<p translate>Objectives</p>
<p translate>Weight</p>
<p translate>Meals</p>
<p translate>Activities</p>
<p translate>Mobility</p>
<p translate>Breakfast</p>
<p translate>Dinner</p>
<p translate>Lunch</p>
<p translate>Snack 10am</p>
<p translate>Snack 4pm</p>