<div class="panel-title" style="padding: 10px;">
    <button type="button" class="close" ui-sref="home.dashboard.main" href="/">
        <i class="mdi-navigation-close"></i>
    </button>
    <a class="btn btn-primary btn-raised btn-breadcrumbs btn-arrow-panel ng-binding" ui-sref="home.dashboard.main" style="color:#fff;" href="/">Achievements 
    </a>
</div>
<!-- ======== QUIZZS ======== -->
<div class="col-sm-4 col-xs-height custTile" style="display: block">
    <div class="panel-heading" ui-sref="home.quizzs.main" style="text-align: center; background-color:blue; color:white;">
        <h4> <span class="glyphicon glyphicon-education" style="color:white;"></span>
                        <text style="font-weight: bold; color:white">Quizzs</text> </h4>
    </div>
    <div class="list-group hc-list-group panel table-responsive" style="clear: both;">
        <div class="panel panel-default chatItem" style="height: 48px;padding-right:2em;" data-ng-repeat="module in achievements.quizzmodules">
            <div class="item-options pull-left" style="top: 7px;">
                <a href class="btn btn-flat btn-default" style="margin: 0;padding: 5px 5px;">
                                <span ng-if="module.score>=70" class="avatar mdi-action-done" style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px;background-color:#4caf50;"></span>
                                <span ng-if="module.score<70" class="avatar " style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px; ;background-color:#A0A8A0;"></span>
                            </a> <!--{{module.score}}-->
            </div>
            <a class="list-group-item" ui-sref="home.quizzs.main" style="padding: 0 10px;padding-top: 5px;  height: 48px;">
                <div class="row-content" style="min-height: inherit;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <h5 class="list-group-item-heading" style="margin-top: 5px;margin-bottom: 0px;font-size: 16px;padding-left: 5px;">
                                 {{module.name}}  
                                  </h5>
                </div>
            </a>
            <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
        </div>
    </div>
</div>
<!-- ======== CHALLENGES ======== -->
<div class="col-sm-4 col-xs-height custTile" style="display: block">
    <div class="panel-heading" style="text-align: center; background-color:grey;">
        <h4> <span class ="biceps text-responsive"> </span> 
                    <text style="font-weight: bold; color:white">Challenges</text>
                     </h4>
    </div>
    <div class="list-group hc-list-group panel table-responsive" style="clear: both;">
        <div class="panel panel-default chatItem" style="height: 48px;" data-ng-repeat="module in achievements.challenges">
            <div class="item-options pull-left" style="top: 7px;">
                <a href class="btn btn-flat btn-default" style="margin: 0;padding: 5px 5px;">
                                {{module.score}}
                                <span  class=".badge" style="color:red;"></span>
                            </a>
            </div>
            <a class="list-group-item" ui-sref="home.quizzs.main" style="padding: 0 10px;padding-top: 5px;  height: 48px;">
                <div class="row-content" style="min-height: inherit;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <h5 class="list-group-item-heading" style="margin-top: 5px;margin-bottom: 0px;font-size: 16px;padding-left: 5px;">
                                 {{module.name}}  
                                  </h5>
                </div>
            </a>
            <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
        </div>
    </div>
</div>
<!--<div class="col-sm-4 col-xs-height custTile">
            <img src="http://placehold.it/360x130" alt="Components" class="img-responsive">
             <h3>Full of features</h3>

            <p>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</p>
        </div>-->
