<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="panel panel-default">
            <form data-ng-submit="getAdvice();">
                <div class="panel-heading" style="padding:0;">
                    <h3 class="panel-title">{{question}}{{advice}}</h3>
                </div>
                <div class="panel-body text-left">
                    <div class="form-group">
                        <div class="col-lg-8">
                            <div class="radio radio-primary" data-ng-repeat="a in answers">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="{{a[0]}}" data-ng-model="$parent.selected" required>
                                    {{a[1]}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right" style="padding: 0px 15px 15px 15px;">
                    <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit" translate>Validate</button>
                </div>
            </form>
        </div>
    </div>
</div>