<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="panel panel-default text-center">
            <div class="panel-title" style="line-height: inherit;">{{title}}</div>
            <div class="panel-body">
                <p>{{content}}</p>
            </div>
            <div class="bigLogo" style="font-size: 500%;"><span style="color:#000;">Egl</span><span style="color:#308fe9;">é</span></div>
            <p>
            <a ui-sref="home.dashboard.main" class="btn btn-info btn-raised btn-sm" style="margin: 30px 0px 25px 0px;">
                <span translate>Go to the Home Page</span>
            </a></p>
        </div>
    </div>
</div>