<div class="col-md-8 col-md-offset-2">
    <div class="alert alert-dismissable alert-{{alert.type}} text-center header-alert animated slideInDown" data-ng-show="alert.msg" style="top: 0;">
        <button type="button" class="close" data-ng-click="alert = {}"><i class="mdi-navigation-close"></i></button>
        {{alert.msg}}
    </div>
</div>
<div class="container">
    <div class="bigLogo signin"><span style="color:#000;">Egl</span><span style="color:#308fe9;">é</span>
        <img src="../img/johndoe.svg" width="170" data-ng-click="signinDOE('john');">
    </div>
    <p class="sign-title egle" translate>Log in as patient <span style="color:#308fe9;" data-ng-click="signinDOE('john');"> John Doe </span></p>
</div>
<div class="container">
    <div class="bigLogo signin"><span style="color:#000;">Egl</span><span style="color:#308fe9;">é</span>
        <img src="../img/drjack" width="170" data-ng-click="signinDOE('jack');">
    </div>
    <p class="sign-title egle" translate>Log in as <span style="color:#308fe9;" data-ng-click="signinDOE('jack');"> Doctor Jack</span> </p>
</div>