<div class="col-md-8 col-md-offset-2">
    <div class="alert alert-dismissable alert-{{alert.type}} text-center header-alert animated slideInDown" data-ng-show="alert.msg" style="top: 0;">
        <button type="button" class="close" data-ng-click="alert = {}"><i class="mdi-navigation-close"></i></button>
        {{alert.msg}}
    </div>
</div>
<div class="container">
    <div class="bigLogo signin"><span style="color:#000;">Egl</span><span style="color:#308fe9;">é</span></div>
    <p class="sign-title egle" translate>Log in with your <strong>Eglé</strong> Account</p>
    <div class="row-fluid">
        <div class="panel panel-default col-md-4 col-md-offset-4">
            <div class="panel-body" style="padding: 5px 0px 5px;">
                <form class="login" data-ng-submit="signin();">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="{{'Email'|translate}}" data-ng-model="email" 
                               class="form-control" autocapitalize="off" autocorrect="off" required/>
                        <input type="password" id="password" name="password" placeholder="{{'Password'|translate}}" data-ng-model="password" 
                               class="form-control" required/>
                    </div>
                    <div class="remember-forgot">
                        <div class="row-fluid">
                            <div class="col-xs-7" style="padding: 0;">
                                <div class="checkbox checkbox-primary" style="margin: 0;padding-left: 0;">
                                    <label>
                                        <input data-ng-model="rememberme" type="checkbox"> {{rememberLabel}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-5 forgot-pass-content" style="padding: 0;margin-top: 5px;">
                                <a ui-sref="recovery.lost" class="forgot-pass" translate>Need help?</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" style="padding-right: 5px;">
                            <button type="button" class="btn btn-default btn-raised" ui-sref="sign" 
                                    style="letter-spacing: 0;padding-right:0;padding-left:0;"translate>Back</button>
                        </div>
                        <div class="col-xs-8" style="padding-left: 5px;">
                            <button type="submit" class="btn btn-primary btn-raised"  translate>Log In</button>
                        </div>
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>