<div class="col-md-8 col-md-offset-2">
    <div class="row">
		<div class="panel-title" style="line-height: inherit;padding: 0px 0px 15px 0px;">Selection of Entries, input in past</div>
		<div class="panel panel-default" style="border-bottom: none;margin: 0;">
			<div class="panel-body table-responsive" style="padding:0;">
				<table st-table="entries" class="table table-striped" style="border-top: none;margin: 0;">
					<thead>
						<tr>
							<th>id</th>
							<th>Type</th>
							<th>Value</th>
							<th>Datetime</th>
						</tr>
					</thead>
					<tr data-ng-repeat="line in entries">
						<td>{{$index + 1}}</td>
						<td>{{line.type}}</td>
						<td>{{line.value}}</td> 
						<td>{{line.datetime}}</td>
						<td class="text-center">
							<button class="btn btn-danger btn-xs margin0" data-ng-click="delete($index);">
								<i class="mdi-action-delete"></i>
							</button>
						</td>
					</tr>
					<tr data-ng-model="entries">
						<td></td>
						<td><select class="form-control"  data-ng-model="entry.type" data-ng-options="opt for opt in labels"></select></td>
						<td><input class="form-control" data-ng-model="entry.datetime" type="datetime-local" name="date" placeholder="{{'Date'|translate}}"></td>
						<td><input class="form-control" data-ng-model="entry.value" type="text" name="value" placeholder="{{'Value'|translate}}"></td>
						<td class="text-center">
							<button class="btn btn-primary btn-xs margin0" data-ng-click="sendtechentry();">
								<i class="mdi-action-done"></i>
							</button>
						</td>
					</tr>
				</table>
				<div class="text-center"><button class="btn btn-info btn-sm" data-ng-click="validate();">Update</button></div>
			</div>
		</div>
	</div>
</div>