    /* <general> */

html,
body {
    height: calc(100% - 40px);
}

.row-fluid,
.container-fluid {
    height: 100%;
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url(../../fonts/HelveticaNeue-Light.ttf);
    font-weight: 400;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: inherit;
    font-weight: 300;
}

[class^="mdi-"],
[class*=" mdi-"] {
    vertical-align: middle;
}

.height100 {
    height: 100%;
}


/*
.grayscale { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
*/

label {
    cursor: auto;
}

.labelTop {
    padding-top: 10px;
}

.opacity6 {
    opacity: 0.6;
}

.opacity4 {
    opacity: 0.4;
}

.opacity100 {
    opacity: 1;
}

.inputGroup {
    min-height: 29px!important;
    margin-bottom: 0px!important;
}

.btn {
    padding: 8px 15px;
}

.text-danger {
    color: #a94442;
}

fieldset {
    border: inherit;
    margin: inherit;
    padding: inherit;
}

.margin0 {
    margin: 0;
}

.marginRight15 {
    margin-right: 15px!important;
}

.marginTop116 {
    margin-top: 116px;
}

.padding0 {
    padding: 0;
}

.strong {
    font-weight: 500;
}

*:focus {
    outline: 0;
}

.modal-dialog {
    margin-top: 80px;
}

.alert {
    z-index: 3;
}

.marginTop25 {
    margin-top: 25px;
}

.fade.in {
    opacity: 1;
}

.modal {
    background: rgba(0, 0, 0, 0.3);
}

.dropdown-menu .divider {
    margin: 4px 0;
    background-color: rgba(229, 229, 229, .3);
}

a.list-group-item:hover,
a.list-group-item:focus {
    color: #555!important;
}

.list-group .list-group-separator:before {
    width: 100%;
}

.hc-list-group > div {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

.item-options {
    position: absolute;
    margin: 0;
    top: 30px;
    right: 10px;
    box-shadow: none;
}

.hc-list-infos {
    margin: 0 20px 17px;
}

.hc-list-table {
    display: table;
}

.hc-list-table-row {
    line-height: 1.4;
    margin-bottom: 40px;
    display: table-row;
}

.hc-list-table-row:first-child div {
    padding-top: 0;
}

.hc-list-table-row > div {
    display: table-cell;
    padding-top: 11px;
}

.hc-list-table-left {
    color: #404040;
    font-weight: bold;
    min-width: 0;
    padding-right: 16px;
    white-space: nowrap;
}

.hc-list-table-right {
    font-size: 13px;
}

.picker__input {
    cursor: pointer!important;
}


/* </general> */


/* <header> */

.navbar-toggle {
    float: left;
    padding: 9px 0px;
    margin-left: 15px;
    margin-right: 0;
}

.header-alert {
    color: white;
    opacity: 0.9;
    padding: 5px;
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
}

.alert-black {
    background-color: #424242;
}

.header-cover {
    background-image: url(../img/cover_D.jpg);
}

.night {
    background-image: url(../img/cover_N.jpg);
}

.part1 {
    color: #000;
    font-family: HelveticaNeueLight;
}

.part2 {
    color: #308fe9;
    font-family: HelveticaNeueLight;
}

.navbar-nav > .active > a {
    font-weight: 400;
}

.icon-bar {
    background-color: rgba(0, 0, 0, 0.84)!important;
    border: 1px solid black!important;
}

.navbar-fixed-top {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
}

.navbar .nav>li>a {
    min-width: 0px;
}

.navbar .nav>li>a.profile {
    margin-right: 30px!important;
}

.user-menu > a {
    padding: 15px!important;
}

.nav-icon {
    border-bottom: none!important;
}

a.nav-icon:focus {
    outline: 0;
}

.navbar-brand {
    font-family: HelveticaNeueLight;
    font-size: 140%;
}

.nav-box {
    position: absolute;
    right: 0;
}

.nav-box {
    background-color: #e5e5e5;
    min-width: 300px;
}

.nav-box-body {
    padding: 5px 10px;
    padding-bottom: 30px;
    min-height: 304px;
    max-height: 370px;
}

.nav-box-alert {
    font-size: 13px;
    padding-top: 20px;
}

.nav-box-title {
    line-height: 40px;
    text-align: center;
    color: #333;
}

.nav-box-item {
    background-color: #fff;
    color: #656565;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    text-align: left;
    height: 55px;
    margin-left: 55px;
    line-height: 16px;
}

.navbar .nav > li > .dropdown-menu.nav-box:after {
    border-bottom: 6px solid #e5e5e5!important;
}

.nav-box-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    text-transform: inherit;
    font-weight: 300!important;
}

.nav-badge {
    background-color: #ff5722;
    border-radius: 50%!important;
    font: bold 11px Arial;
    color: #fff;
    line-height: 16px;
    width: 16px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    right: 10px;
    top: 10px;
    z-index: 990;
}

.nav-box-check {
    position: absolute;
    right: 2px;
    margin-top: -62px;
    color: #000;
    opacity: 0.6;
}

.notification-check {
    position: absolute;
    right: 4px;
    margin-top: -60px;
    color: #000;
    opacity: 0.6;
}

.nav-box-check:hover,
.notification-check:hover {
    color: #4caf50;
}

.nav-box-check i {
    font-size: 16px;
}

.notification-check i {
    font-size: 18px;
}

.nav-box-container {
    overflow: auto;
    max-height: 285px;
}


/* </header> */


/* <toggle> */

.toggleFilter {
    padding-top: 5px;
}

.toggleFilter > .togglebutton > label {
    color: rgba(0, 0, 0, 0.54);
}

.toggleFilter > div {
    float: right;
}

.togglebutton label .toggle {
    border: rgba(80, 80, 80, .1) 1px solid;
    background-color: #fff;
}

.togglebutton label .toggle:after {
    top: -4px;
    background-color: #fff;
}


/* </toggle> */


/* <material> */

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: .40!important;
    filter: alpha(opacity=40)!important;
}

a,
a:hover,
a:focus {
    color: #337ab7;
}

.navbar-material-white {
    background-color: #FFF!important;
}

.navbar-material-white .navbar-brand,
.navbar-material-white .navbar-brand:hover,
.navbar-material-white .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.84);
}

.navbar-material-white .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.84);
}

.navbar-material-white .navbar-nav > li > a:hover,
.navbar-material-white .navbar-nav > li > a:focus {
    color: rgba(0, 0, 0, 0.84);
    background-color: transparent;
}

.navbar-material-white .navbar-nav > .active > a,
.navbar-material-white .navbar-nav > .active > a:hover,
.navbar-material-white .navbar-nav > .active > a:focus {
    color: rgba(0, 0, 0, 0.84);
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar-material-white .navbar-nav > .disabled > a,
.navbar-material-white .navbar-nav > .disabled > a:hover,
.navbar-material-white .navbar-nav > .disabled > a:focus {
    color: rgba(0, 0, 0, 0.84);
    background-color: transparent;
}

.navbar-material-white .navbar-nav > .open > a,
.navbar-material-white .navbar-nav > .open > a:hover,
.navbar-material-white .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.84);
}

.action-button {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    background-color: #009688;
}


/* </material> */


/* <chat> */

.chat-backdrop {
    position: absolute;
    width: 100%;
    opacity: 0.8;
    background: #000;
    z-index: 99;
}

.chat-calling {
    position: absolute;
    z-index: 999;
    text-align: center;
    width: 100%;
    top: calc(50% - 110px);
}

.chat-thread {
    margin-bottom: 0;
    padding: 0;
    line-height: initial;
    height: calc(100% - 48px - 55px);
}

.chat-thread-xs {
    height: calc(100% - 370px);
}

.chat-thread-xxs {
    height: calc(100% - 428px);
}

.chatScroll {
    padding: 15px 0px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.newMessage {
    font-weight: 400;
}

.panel-chat {
    margin-bottom: 5px;
    height: 100%;
    background-color: #f5f5f5;
}

.chat-ctrl {
    background-color: #f5f5f5;
    padding: 5px;
}

.chat-ctrl > form {
    background-color: white;
    margin: 0;
    position: relative;
}

.chat-ctrl > form > input {
    width: calc(100% - 95px);
    padding: 15px 10px;
    border: none;
}

.chat-ctrl > form > button {
    position: absolute;
    margin: 5px 0px;
    right: 10px;
    top: 0px;
}

.paddingMsg {
    padding-top: 10px;
}

.webrtc {
    position: relative;
    background-color: #000;
    display: inline-block;
    width: 100%;
}

.webrtc a.call-end-button {
    margin-left: calc(50% - 30px);
}

.webrtc a.call-end-button-fullscreen {
    margin-left: inherit;
}

.webrtc a.fullscreen-button {
    margin-left: 0;
    color: #fefefe!important;
}

.webrtc-fullscreen {
    position: absolute;
    top: 0;
    height: 100%;
}

.webrtc-toolbar-fullscreen {
    position: absolute;
    bottom: 5%;
    right: calc(50% - 70px);
}

#localVideo {
    position: absolute;
    border-radius: 5px;
    width: 15%;
    bottom: 10px;
    right: 5px;
}

#remotes {
    display: inline-block;
    width: 100%;
    height: 260px;
}

#remotes video {
    position: absolute;
    height: 100%;
    width: 100%;
}

.bubble-call {
    padding: 13px;
    background: rgba(207, 216, 220, .5);
    color: #575858;
    width: 100%!important;
    position: relative;
}

.bubble {
    padding: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .9);
    color: #575858;
    width: calc(100% - 78px)!important;
    position: relative;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.bubble > .least-content {
    font-size: 80%!important;
    position: relative!important;
    right: 0!important;
    padding-top: 10px;
}

.bubble:after {
    right: 100%;
    top: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bubble:after {
    border-right-color: rgba(255, 255, 255, .9);
    border-width: 10px;
    margin-top: -10px;
}

.bubble-blue {
    background-color: #E1F5FE;
}

.bubble-blue:after {
    border-right-color: #E1F5FE;
}

.chat-back {
    font-size: inherit;
    text-transform: inherit;
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.message {
    margin-bottom: 15px;
}

.message > .list-group-item {
    padding-right: 0px;
}

.message {
    -moz-animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    -o-animation-duration: 0.7s;
}

.chat-content-xs {
    min-height: 45px!important;
}

.chat-username-xs {
    font-size: 15px!important;
    line-height: 22px!important;
    margin-bottom: 2px!important;
}

.chat-date-xs {
    font-size: 11px!important;
}

.chat-message-xs {
    line-height: 1;
    font-size: 13px;
}


/* </chat> */


/* <avatar> */

.avatar {
    background-color: #bebebe;
    border-radius: 50%;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-align: center;
}

.avatar-lg {
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 60px;
}

.avatar-md {
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 35px;
}

.avatar-sm {
    height: 30px!important;
    width: 30px!important;
    line-height: 30px!important;
    font-size: 15px;
}

.avatar-xs {
    height: 20px;
    width: 20px;
    font-size: 10px;
    line-height: 20px;
}

.avatar-chat {
    height: 46px!important;
    width: 46px!important;
    line-height: 46px!important;
    font-size: 23px!important;
}

.avatar-notification {
    background-color: #bebebe;
    height: 55px;
    width: 55px;
    padding-top: 9px;
    padding-left: 18px;
    font-size: 27.5px;
    color: #fff;
}

.avatar-notification .mdi-action-report-problem {
    font-size: 32px;
}


/* firefox fix */

@-moz-document url-prefix() {
    .avatar-lg {
        padding-top: 3px;
    }
    .avatar-chat {
        padding-top: 2px;
    }
    .avatar-xs,
    .avatar-md,
    .avatar-sm {
        padding-top: 1px;
    }
}

.user-menu > a > .avatar {
    margin-right: 5px;
}


/* </avatar> */


/* <icons> */

.icons-group {
    max-height: 142px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .icons-group {
        text-align: center;
    }
}

.icons-group a {
    margin: 0px 10px 5px 0px;
}

.icons-group a:hover,
.icons-group a:focus {
    text-decoration: none;
}

.icons-group a.selected {
    border: 1px solid #000;
    line-height: 59px;
}

.icons-group a,
.icons-group-selected .avatar {
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.icons-group-selected .avatar {
    margin-right: 15px;
    margin-top: 0px;
}

.icons-group i,
.icons-group-selected i {
    font-size: 32px;
}

.selected-icon {
    border: 1px solid #000!important;
    line-height: 59px!important;
}


/* </icons> */


/* <slider> */

.noUi-handle.noUi-active {
    -webkit-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}

.noUi-handle {
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
}

.slider-info {
    background-color: #03a9f4;
}

.slider-success {
    background-color: #4caf50;
}

.slider-danger {
    background-color: #f44336;
}


/* </slider> */


/* <notification> */

.icon-notification {
    background-color: #ff5722;
    padding-top: 5px;
    padding-left: 12px;
    color: #fff;
}

.notification {
    position: relative;
}

.notification a:hover {
    text-decoration: none;
}

.notification h6 {
    position: absolute;
    right: 10px;
    bottom: 5px;
    margin: 0;
}


/* </notification> */


/* <cards> */

.card {
    box-shadow: 0 1px 2px #aaa;
    border-radius: 4px;
}

.btn-fab-xs {
    margin: 0!important;
    padding: 0!important;
    font-size: 26px!important;
    width: 32px!important;
    height: 32px!important;
}


/* </cards> */


/* <helper> */

.helper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.helper p {
    margin-bottom: 0;
}

.helper i {
    font-size: 120px;
    opacity: 0.4;
    margin: 20px;
}


/* </helper> */


/* <alert> */

.widgetAlert {
    width: 100%;
    position: absolute!important;
    opacity: 0.9;
    color: #fff;
}

.alert {
    -moz-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
}

.alert {
    line-height: 24px;
}

.alert > .close {
    opacity: 1;
    font-weight: normal;
    top: 0!important;
    right: 0!important;
    text-shadow: none;
}

.widgetAlert-sm {
    width: calc(100% - 30px);
}


/* </alert> */


/* <breadcrumb> */

.hc-breadcrumb {
    padding: 0px;
}

.hc-breadcrumb a {
    margin-top: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hc-breadcrumb > .btn[disabled] {
    opacity: 1!important;
}

.btn-breadcrumbs {
    margin: 0;
    padding: 4px 9px;
    margin-top: -4px;
}

.btn-arrow-panel,
.btn-arrow-panel-second,
.btn-arrow-bg,
.btn-arrow-bg-second {
    position: relative;
}

.btn-arrow-panel {
    padding-left: 10px;
    padding-right: 15px;
}

.btn-arrow-panel-second {
    padding-left: 20px;
    padding-right: 15px;
}

.btn-arrow-bg {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.btn-arrow-bg-second {
    padding-left: 20px!important;
    padding-right: 15px!important;
}

.btn-arrow-panel-second:before,
.btn-arrow-panel-second:after,
.btn-arrow-panel:after {
    top: 4px;
    width: 20px;
    height: 20px;
}

.btn-arrow-bg-second:before,
.btn-arrow-bg-second:after,
.btn-arrow-bg:after {
    top: 4px;
    width: 20px;
    height: 20px;
}

.btn-arrow-panel-second:before,
.btn-arrow-panel:after,
.btn-arrow-bg-second:before,
.btn-arrow-bg-second:after,
.btn-arrow-bg:after {
    /* make two squares (before and after), looking similar to the button */
    content: "";
    position: absolute;
    background: inherit;
    /* use parent background */
    border: inherit;
    /* use parent border */
    border-left-color: transparent;
    /* hide left border */
    border-bottom-color: transparent;
    /* hide bottom border */
    border-radius: 0px 4px 0px 0px;
    /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-panel-second:before,
.btn-arrow-panel:after,
.btn-arrow-bg-second:before,
.btn-arrow-bg-second:after,
.btn-arrow-bg:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-panel:before,
.btn-arrow-panel-second:before {
    left: -9px;
    background-color: #fff;
}

.btn-arrow-bg:before,
.btn-arrow-bg-second:before {
    left: -12px;
    background-color: #eee;
}

.btn-arrow-panel:after {
    right: -9px;
    z-index: 1;
}

.btn-arrow-bg:after,
.btn-arrow-bg-second:after {
    right: -10px;
    z-index: 1;
}


/* </breadcrumb> */

.flex-group {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.form-horizontal .flex-group .control-label {
    padding-top: 0;
}

 .custTile {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 2rem;
}
/* 
 * Provides Bootstrap 3 compatible classes for making responsive rows and columns consistently formatted for height.
 * src: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
 */
/* columns of same height styles */
 .row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}
@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}
/* vertical alignment styles */
 .col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}



/* <responsive> */

@media (min-width: 1100px) {
    html,
    body {
        height: calc(100% - 40px);
    }
    .container-fluid {
        margin-top: 70px;
    }
    .panel-title {
        padding-top: 4px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
    }
    .toggleFilter {
        height: 35px;
    }
    .my-content {
        height: calc(100% - 20px);
    }
    .nav-icon {
        padding-top: 19px!important;
        padding-bottom: 19px!important;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    html,
    body {
        height: calc(100% - 35px);
    }
    .container-fluid {
        margin-top: 70px;
    }
    .panel-title {
        padding-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 19px;
    }
    .toggleFilter {
        height: 35px;
    }
    .my-content {
        height: calc(100% - 15px);
    }
}

@media (min-width: 100px) and (max-width: 1000px) {
    html,
    body {
        height: calc(100% - 30px);
    }
    .container-fluid {
        margin-top: 60px;
    }
    .panel-title {
        padding-top: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 19px;
    }
    .toggleFilter {
        height: 30px;
    }
    .my-content {
        height: calc(100% - 10px);
    }
    .modal-header {
        padding-top: 14px!important;
        padding-right: 14px!important;
        padding-left: 14px!important;
    }
    .hc-list-infos {
        margin: 0!important;
    }
}

@media (min-width: 1px) and (max-width: 1200px) {
    .nav-icon {
        padding-top: 14px!important;
        padding-bottom: 14px!important;
    }
}

@media (max-width: 1000px) and (min-width: 100px) {
    .modal-dialog {
        margin-top: 60px;
    }
}

@media (min-width: 1200px) {
    .header-alert {
        top: 60px;
    }
}

@media (min-width: 768px) {
    .bell-toggle {
        display: none!important;
        visibility: hidden !important;
    }
}

@media (min-width: 992px) {
    .action-button {
        right: calc(16.66666667% + 20px);
        bottom: 30px;
    }
}

@media (max-width: 1199px) {
    .user-menu > a {
        padding: 10px!important;
    }
}


/* Iphone 5 */

@media screen and (device-aspect-ratio: 40/71) {
    .panel-exp a:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: #108167;
    }
    .panel-exp a.collapsed:after {
        content: "\e080";
    }
}

    /* </responsive> */

/* Needed to customize embedding of Jitsi Meet, in Chat tool */
#meet {
 /* width: 10em;
  height: 10em;
  z-index: 15;
  top: 10%;
  left: 10%;
  margin-top: 2em;
  background: black;*/
}
