<div class="panel panel-default card" style="border:solid #fff 2px;" >
    <form data-ng-submit="answer();" class="form-horizontal">
        <h3 class="panel-title">
            <button type="button" class="close" data-ng-click="skip('salt');">
                <i class="mdi-navigation-close"></i>
            </button>
            <span translate>{{title}}</span>
        </h3>
        <div class="panel-body text-center" style="padding-top: 10px;padding-bottom: 10px;">
        	
        	
        	
        	
		 	<div class="form-group">
   			  <div class="col-sm-offset-4 col-sm-8">
		 		<div class="checkbox text-left">
		 			<label><input type="checkbox" data-ng-model="salt.sauce.value" translate> Sauces
		 			<span class="text-muted" translate> (Ex: mayonnaise, moutarde,...)</span>
		 			</label>
		 		</div>
		 	  </div>
 			</div>
        	
        	<h4 translate>Charcuterie</h4>
             <div class="form-group">
			    <label  class="control-label col-sm-6 text-right" for="cooked" translate>Cuit : </label> 
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			      <input type="number" data-ng-model="salt.cookedMeat.value" class="form-control"  style="display:inline-block;width:30px;" id="cooked" min="0"><span translate> tranche(s)</span>
			    </div>
			 </div>
			 <div class="form-group">
			    <label class="control-label col-sm-6 text-right" for="smoked" translate>Cru, fumé : </label>
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			      <input type="number" data-ng-model="salt.smokedMeat.value" class="form-control"  style="display:inline-block;width:30px;" id="smoked" min="0"><span translate> tranche(s)</span>
			    </div>
			 </div>
			 <div class="form-group">
		        <label class="control-label col-sm-6 text-right" for="pate" translate>Pâté, rillettes, foie gras : </label>
		        <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
		          <input type="number" data-ng-model="salt.pate.value" class="form-control"  style="display:inline-block;width:30px;" id="pate" min="0"><span translate> tranche(s)</span>
		        </div>
			 </div>
			 <hr style="margin-top: 2px;margin-bottom:2px;">
			 <h4 translate>Fromage</h4>
			 <div class="form-group">
			    <label class="control-label col-sm-6 text-right" for="allowed" translate>Autorisé</label>
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			        <input type="number" data-ng-model="salt.allowedCheese.value" class="form-control"  style="display:inline-block;width:30px;" id="allowed" min="0"><span translate> tranche(s)</span>
			    </div>			   
			 </div>
	 		<span class="text-muted" translate>
	 		Ex: Fromages blancs frais, allégés, emmental, ricotta, mozzarella...
	 		</span>
			 <div class="form-group">
				<label class="control-label col-sm-6 text-right" for="notRecommended" translate>Déconseillé</label>
				<div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
				    <input type="number" data-ng-model="salt.dangerousCheese.value" class="form-control"  style="display:inline-block;width:30px;" id="notRecommended" min="0"><span translate> tranche(s)</span>
				</div>
			 </div>
	 		<span class="text-muted" translate>
	 		Ex: Fromages à pâte persillée (bleus), fromages vieux, fromages fondus, feta, camembert, comté, parmesan...
	 		</span>
			 <hr style="margin-top: 2px;margin-bottom:2px;">
			 <div class="form-group">
				<h4 translate>Pain</h4>
				<div style="display:inline-block;">
				    <input type="number" data-ng-model="salt.bread.value" class="form-control"  style="display:inline-block;width:30px;" id="bread" min="0"><span translate> tranche(s)</span>
				</div>
			 </div>
			 <hr style="margin-top: 0;margin-bottom: 0;">
			 <div class="form-group">
				<h4 translate>Viennoiserie</h4>
				<div style="display:inline-block;">
				    <input type="number" data-ng-model="salt.viennoiserie.value" class="form-control"  style="display:inline-block;width:30px;" id="viennoiserie" min="0">
				</div>
			 </div>
			 <hr style="margin-top: 2px;margin-bottom:2px;">
			 
			 	<div class="form-group">
    			  <div class="col-sm-offset-4 col-sm-8">
			 	    <div class="checkbox text-left">
			 			<label><input type="checkbox" data-ng-model="salt.seafood.value" translate> Mollusques et crustacés</label>
			 			<span class="text-muted" translate> (Sauf palourdes)</span>
			 	    </div>
			 	  </div>
  				</div>
  
			 	<div class="form-group">
    			  <div class="col-sm-offset-4 col-sm-8">
			 		<div class="radio text-left">
			 			<label><input type="radio" name="dish" data-ng-model="salt.dish.value" value="readyMade"  translate>Plat préparé, surgelé ou en conserve du commerce</label>
			 		</div>
			 	  </div>
  				</div>
  				
  				
			 	<div class="form-group">
    			  <div class="col-sm-offset-4 col-sm-8">
			 		<div class="radio text-left">
			 			<label><input type="radio" name="dish" data-ng-model="salt.dish.value" value="restaurant"  translate>Plat au restaurant</label>
			 		</div>
			 	  </div>
  				</div>
  				
  				
			 	<div class="form-group">
    			  <div class="col-sm-offset-4 col-sm-8">
			 		<div class="radio text-left">
			 			<label><input type="radio" name="dish" data-ng-model="salt.dish.value" value="homemade" translate>Plat cuisiné à domicile</label>
			 		</div>
			 	  </div>
  				</div>
  				
  				<div data-ng-show="salt.dish.value == 'homemade'" style="border: 1px grey solid">
  					
  					
  					<div class="form-group">
						<label  class="control-label col-sm-6 text-right" for="addedSalt" translate>Avec du sel ajouté</label>
						<div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
						    <input type="number" data-ng-model="salt.addedSalt.value" id="addedSalt" class="form-control" style="display:inline-block;width:30px;"  min="0" step="1">
							<span translate> pincée(s)</span>
						</div>
			 		</div>
			 		
			 		<div class="form-group">
	    			  <div class="col-sm-offset-4 col-sm-8">
				 	    <div class="checkbox text-left">
				 			<label><input type="checkbox" data-ng-model="salt.spices.value" translate> Avec épices en poudre</label>
				 	    </div>
				 	  </div>
	  				</div>
	  				
			 		<div class="form-group">
	    			  <div class="col-sm-offset-4 col-sm-8">
				 	    <div class="checkbox text-left">
				 			<label><input type="checkbox" data-ng-model="salt.stock.value" translate> Avec du bouillon</label>
				 	    </div>
				 	  </div>
	  				</div>
	  				
  					
  				</div>
			 	
			 	<div class="form-group">
					<label  class="control-label col-sm-6 text-right" for="otherSalt2" translate>Autre avec</label>
					<div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
					    <input type="number" data-ng-model="salt.otherSalt.value" id="otherSalt2" class="form-control" style="display:inline-block;width:40px;"  min="0" step="0.1"> 
					    g <span translate>de sel</span>
					</div>
			 	</div>
			 
			 
			 
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('salt');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit" 
                    translate>Validate</button>
        </div>
    </form>
</div>