
<div class="panel panel-default card" style="border: solid #fff 2px;">
    <form data-ng-submit="answer();">
        <div class="panel-heading" style="padding:0;">
            <h3 class="panel-title">
                <button type="button" class="close" data-ng-click="skip('symptoms');"><i class="mdi-navigation-close"></i></button>
                <span>{{title}}</span>
            </h3>
        </div>
        <div class="panel-body text-center" style="padding-top: 5px;padding-bottom: 5px;">
            <div ng-repeat="symptom in symptoms">
            	<h4 class="control-label">{{symptom.title}}</h4>
            	<div class="text-center" ng-click="select(0, symptom)" 
            	ng-style="symptom.buttons[0].img" style="margin: 5px;padding: 5px;height: 48px;width: 48px;cursor: pointer; display: inline-block;">
            	</div>
            	<div class="text-center" ng-click="select(1, symptom)" 
            	ng-style="symptom.buttons[1].img" style="margin: 5px;padding: 5px;height: 48px;width: 48px;cursor: pointer; display: inline-block;">
            	</div>
            	<div class="text-center" ng-click="select(2, symptom)" 
            	ng-style="symptom.buttons[2].img" style="margin: 5px;padding: 5px;height: 48px;width: 48px;cursor: pointer; display: inline-block;">
            	</div>
            </div>
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('symptoms');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit"
                    ng-disabled="!checkValid()" translate>Validate</button>
        </div>
    </form>
</div>