<div class="panel panel-default card" style="border: solid #fff 2px;">
	<form data-ng-submit="answer();" class="form-horizontal">
		<h3 class="panel-title">
			<button type="button" class="close" data-ng-click="skip('mealhf');">
				<i class="mdi-navigation-close"></i>
			</button>
			<span translate>{{title}}</span>
		</h3>
		<div class="panel-body text-center"
			style="padding-top: 10px; padding-bottom: 10px;">
			<div class="row text-center">
				<div class="col-sm-offset-2 col-sm-8" style="float: none;">

					<h4>
						<span style="text-decoration: underline;" translate>Drinks</span>
						<span class="glyphicon glyphicon-expand"
							data-ng-show="!drinksExpand" style="cursor: pointer"
							data-ng-click="drinksExpand=true"></span> <span
							class="glyphicon glyphicon-collapse-down"
							data-ng-show="drinksExpand" style="cursor: pointer"
							data-ng-click="drinksExpand=false"></span>
					</h4>
					<div data-ng-show="drinksExpand" class="form-group flex-group"
						data-ng-repeat="liquid in liquids">
						<label class="col-sm-6 text-left" style="width: 50%">{{liquid.name}}</label>
						<div class="col-sm-6 text-left"
							style="display: inline-block; padding-left: 0px; white-space: nowrap;">
							<div style="display: inline-block;"
								data-ng-repeat="val in liquid.values">
								<div data-ng-style="val.img"
									style="height: 48px; width: 48px; text-align: center; margin-left: 8px;"></div>
								<div style="border: 1px solid grey; margin: 2px;">
									<button type="button" class="btn btn-xs"
										data-ng-click="val.value=decIfGreaterThanZero(val.value,1);"
										style="width: 20px; height: 20px; padding: 4px; margin: 0px; line-height: 0.6; font-size: 1.3em; background-color: #b0bec5;">
										-</button>
									{{val.value}}
									<button type="button" class="btn btn-xs"
										data-ng-click="val.value=val.value+1;"
										style="width: 20px; height: 20px; padding: 4px; margin: 0px; line-height: 0.6; font-size: 1.3em; background-color: #b0bec5;">
										+</button>
								</div>
							</div>
						</div>
					</div>

					<hr>

					<div data-ng-repeat="food in salt">
						<h4>
							<span style="text-decoration: underline;">{{food.category}}</span>
							<span class="glyphicon glyphicon-expand"
								data-ng-show="!food.expand" style="cursor: pointer"
								data-ng-click="food.expand=true"></span> <span
								class="glyphicon glyphicon-collapse-down"
								data-ng-show="food.expand" style="cursor: pointer"
								data-ng-click="food.expand=false"></span>
						</h4>

						<div data-ng-show="food.expand" class="form-group"
							data-ng-repeat="val in food.values">
							<div class="flex-group">
								<label class="col-sm-6 text-left" style="width: 50%">{{val.name}}
								</label>
								<div class="col-sm-6 text-left"
									style="display: inline-block; padding-left: 0px; white-space: nowrap;">
									<div
										style="border: 1px solid grey; margin: 2px; display: inline-block; padding-left: 0px; white-space: nowrap;"
										data-ng-show="isNumber(val.value)">
										<button type="button" class="btn btn-xs"
											data-ng-click="val.value=decIfGreaterThanZero(val.value, val.inc);"
											style="width: 20px; height: 20px; padding: 4px; margin: 0px; line-height: 0.6; font-size: 1.3em; background-color: #b0bec5;">
											-</button>
										{{val.value}}
										<button type="button" class="btn btn-xs"
											data-ng-click="val.value=val.value + val.inc;"
											style="width: 20px; height: 20px; padding: 4px; margin: 0px; line-height: 0.6; font-size: 1.3em; background-color: #b0bec5;">
											+</button>
									</div>
									<div class="checkbox" data-ng-show="!isNumber(val.value)">
										<label class="checkbox-inline"> <input type="checkbox"
											data-ng-model="val.value">
										</label>
									</div>
									<span
										style="display: inline-block; padding-left: 0px; white-space: nowrap;">
										{{val.unit}} </span>
								</div>
							</div>
							<div class="text-muted text-left" data-ng-show="val.muted != ''">{{val.muted}}</div>
						</div>
						<hr>
					</div>

				</div>
			</div>

		</div>
		<div class="text-right" style="padding: 0px 5px 5px 5px;">
			<button class="btn btn-flat btn-default" style="margin: 0px 1px;"
				type="button" data-ng-click="skip('mealhf');" translate>Skip</button>
			<button class="btn btn-flat btn-primary" style="margin: 0px 1px;"
				type="submit" translate>Validate</button>
		</div>
	</form>
</div>