<div class="panel panel-default card" style="border:solid #fff 2px;" >
    <form data-ng-submit="answer();" >
        <h3 class="panel-title">
            <button type="button" class="close" data-ng-click="skip('morisky');">
                <i class="mdi-navigation-close"></i>
            </button>
            <span translate>{{title}}</span>
        </h3>
        <div class="panel-body text-center" style="padding-top: 10px;padding-bottom: 10px;">
        	         	
             <div style="margin-bottom:10px;">
			    <label  class="col-sm-8 text-left" for="question1" translate>
			    	Vous arrive-t-il d'oublier de prendre votre traitement pour {{morisky.conditionTxt}} ?
			    </label> 
			    <div class="col-sm-4 text-left" style="display:inline-block; padding-left:0px;">
			      	<label class="radio-inline" translate>
				      	<input type="radio" name="question1" value="1" data-ng-model="morisky.question1">
				      	Oui
			      	</label>
					<label class="radio-inline" translate>
						<input type="radio" name="question1" value="0" data-ng-model="morisky.question1">
						Non
					</label>					
			    </div>
			 </div>
			 
			 <div>
			    <label  class="col-sm-8 text-left" for="question2" translate>
			    	Avez-vous parfois du mal à vous rappeler de prendre votre traitement 
			    	pour {{morisky.conditionTxt}} ?
			    </label> 
			    <div class="col-sm-4 text-left" style="display:inline-block; padding-left:0px;">
			      	<label class="radio-inline" translate>
				      	<input type="radio" name="question2" value="1" data-ng-model="morisky.question2">
				      	Oui
			      	</label>
					<label class="radio-inline" translate>
						<input type="radio" name="question2" value="0" data-ng-model="morisky.question2">
						Non
					</label>					
			    </div>
			 </div>
			 
			 <div>
			    <label  class="col-sm-8 text-left" for="question3" translate>
			    	Quand vous vous sentez mieux, vous arrive-t-il d'arrêter de prendre votre 
			    	traitement pour {{morisky.conditionTxt}} ?
			    </label> 
			    <div class="col-sm-4 text-left" style="display:inline-block; padding-left:0px;">
			      	<label class="radio-inline" translate>
				      	<input type="radio" name="question3" value="1" data-ng-model="morisky.question3">
				      	Oui
			      	</label>
					<label class="radio-inline" translate>
						<input type="radio" name="question3" value="0" data-ng-model="morisky.question3">
						Non
					</label>					
			    </div>
			 </div>
			 
			 
			 <div>
			    <label  class="col-sm-8  text-left" for="question4" translate>
			    	Si vous vous sentez moins bien lorsque vous prenez votre traitement pour 
			    	{{morisky.conditionTxt}}, arrêtez-vous parfois de le prendre ?
			    </label> 
			    <div class="col-sm-4 text-left" style="display:inline-block; padding-left:0px;">
			      	<label class="radio-inline" translate>
				      	<input type="radio" name="question4" value="1" data-ng-model="morisky.question4">
				      	Oui
			      	</label>
					<label class="radio-inline" translate>
						<input type="radio" name="question4" value="0" data-ng-model="morisky.question4">
						Non
					</label>					
			    </div>
			 </div>
			 
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('morisky');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit" 
                    translate>Validate</button>
        </div>
    </form>
</div>