<div class="panel panel-default card" style="border:solid #fff 2px;" >
    <form data-ng-submit="answer();" class="form-horizontal">
        <h3 class="panel-title">
            <button type="button" class="close" data-ng-click="skip('liquid');">
                <i class="mdi-navigation-close"></i>
            </button>
            <span translate>{{title}}</span>
        </h3>
        <div class="panel-body text-center" style="padding-top: 10px;padding-bottom: 10px;">

			 <div class="form-group">
			    <label class="control-label col-sm-6 text-right" for="water" translate>Water / juice</label>
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			        <input type="number" data-ng-model="liquid.water.value" class="form-control"  style="display:inline-block;width:30px;" id="water" min="0">
			        <span translate> glass(es)</span>
			    </div>			   
			 </div>
			 <div class="form-group">
			    <label class="control-label col-sm-6 text-right" for="coffee" translate>Coffee / tea / milk</label>
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			        <input type="number" data-ng-model="liquid.bigCoffee.value" class="form-control"  style="display:inline-block;width:30px;" id="coffee" min="0">
			        <span translate> mug(s)</span><br>
			        <input type="number" data-ng-model="liquid.avgCoffee.value" class="form-control"  style="display:inline-block;width:30px;" id="coffee" min="0">
			        <span translate> cup(s)</span><br>
			        <input type="number" data-ng-model="liquid.smallCoffee.value" class="form-control"  style="display:inline-block;width:30px;" id="coffee" min="0">
			        <span translate> small cup(s)</span><br>
			    </div>			   
			 </div>
			 <div class="form-group">
			    <label class="control-label col-sm-6 text-right" for="soda" translate>Soda</label>
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			        <input type="number" data-ng-model="liquid.soda.value" class="form-control"  style="display:inline-block;width:70px;" id="soda" min="0">
			        <span translate> ml</span>
			    </div>			   
			 </div>
			 <div class="form-group">
			    <label class="control-label col-sm-6 text-right" for="beer" translate>Beer</label>
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			        <input type="number" data-ng-model="liquid.beer.value" class="form-control"  style="display:inline-block;width:70px;" id="beer" min="0">
			        <span translate> ml</span>
			    </div>			   
			 </div>
			 
			 <div class="form-group">
			    <label class="control-label col-sm-6 text-right" for="wine" translate>Wine</label>
			    <div class="col-sm-6 text-left" style="display:inline-block; padding-left:0px;">
			        <input type="number" data-ng-model="liquid.wine.value" class="form-control"  style="display:inline-block;width:70px;" id="wine" min="0">
			        <span translate> ml</span>
			    </div>			   
			 </div>
			 
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('liquid');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit" 
                    translate>Validate</button>
        </div>
    </form>
</div>