
<div class="panel panel-default card" style="border:solid #fff 2px;" >
    <form data-ng-submit="answer();" class="form-inline">
        <h3 class="panel-title">
            <button type="button" class="close" data-ng-click="skip('heartrate');">
                <i class="mdi-navigation-close"></i>
            </button>
            <span translate>What's your heart rate?</span>
        </h3>
        <div class="panel-body text-center" style="padding-top: 10px;padding-bottom: 10px;">
        	<div class="row text-center">
                <div style="padding-left: 0;">
                    <h4 class="text-center" style="margin-top: 0;margin-bottom: 5px;">
                        <span translate>Measured value</span>
                    </h4>
                    <input type="number" class="form-control text-center" data-ng-model="value" placeholder="bpm" step="1" min="0">
                    <span translate>bpm</span> <br>
                    <label class="radio-inline">
                        <input type="radio" name="hrType" data-ng-model="hrType" value="atRest">
                        <span translate>At rest</span>
                       </label>
					<label class="radio-inline">
						<input type="radio" name="hrType" data-ng-model="hrType" value="afterExercise">
						<span translate>After exercise</span>
					</label>
                </div>
            </div>
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('heartrate');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit" 
                    data-ng-disabled="!value" translate>Validate</button>
        </div>
    </form>
</div>