
<div class="panel panel-default card" style="border:solid #fff 2px;" >
    <form data-ng-submit="answer();" class="form-inline">
        <h3 class="panel-title">
            <button type="button" class="close" data-ng-click="skip('bloodpressure');">
                <i class="mdi-navigation-close"></i>
            </button>
            <span translate>What's your blood pressure?</span>
        </h3>
        <div class="panel-body text-center" style="padding-top: 10px;padding-bottom: 10px;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group col-xs-offset-1 col-xs-10" style="padding:0;margin-bottom:0;">
                        <label class="control-label" translate>Today</label>
                        <input type="number" class="form-control text-center" data-ng-model="bp.systo" 
                               placeholder="Sys" step="1" min="0" max="250" required> / 
                        <input type="number" class="form-control text-center" data-ng-model="bp.diasto" 
                        placeholder="Dias" step="1" min="0" max="250" required> mmHg
                    </div>
                </div>                
            </div>
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('bloodpressure');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit" 
                    data-ng-disabled="!bp.systo || !bp.diasto" translate>Validate</button>
        </div>
    </form>
</div>