<div class="panel panel-default card" style="border: solid #fff 2px;">
    <form data-ng-submit="answer();">
        <div class="panel-heading" style="padding:0;">
            <h3 class="panel-title">
                <button type="button" class="close" data-ng-click="skip('activity');"><i class="mdi-navigation-close"></i></button>
                <span translate>What have you done today?</span>
            </h3>
        </div>
        <div class="panel-body" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-sm-offset-3 col-sm-6 icons-group-selected" data-ng-repeat="button in radio.buttons" style="padding: 0;">
                <div class="row">
                    <div class="col-xs-1">
                        <div class="avatar" data-ng-style="{'background-color': button.color}" 
                             style="line-height: 89px;position: absolute;height: 89px;width: 32px;border-radius:0;margin-top: 1px;">
                            <i class="{{button.icon}}" style="padding-left: 0.5px;"></i>
                        </div>
                    </div>
                    <div class="col-xs-11 text-center" style="margin-left: 32px;">
                        <h4 style="margin-bottom: 0px;margin-top: 2px;">{{button.title}}</h4>
                        <h5 class="text-muted" style="margin-top: 5px;margin-bottom: 5px;">{{button.desc}}</h5>
                    </div>
                </div>
                <div class="row text-center">
                    <div style="display: inline-block;margin-left: 32px;height: 40px;">
                        <div data-ng-repeat="level in radio.levels" style="padding: 0;float: left;margin: 0;display: inline-block;text-align: center;">
                            <input type="radio" name="{{button.type}}" data-ng-value="level" data-ng-model="button.value" 
                                   data-ng-class="{'marginRight15': !$last}" data-ng-click="reset(button);">
                            <label style="display: block;width: 15px;">{{level}}<small>h</small><small data-ng-if="$last">+</small></label>
                        </div>
                    </div>
                </div>
                <div class="row text-center" style="margin-left: 32px;" 
                     data-ng-show="button.type == 'sport' && radio.buttons[2].value && radio.buttons[2].value !== '0'">
                    <h5 style="margin:0;" translate>Intensity</h5>
                </div>
                <div class="row text-center" data-ng-show="button.type == 'sport' && radio.buttons[2].value">
                    <div style="display: inline-block;margin-left: 32px;">
                        <strong class="pull-left" style="margin-right: 10px;">—</strong>
                        <div data-ng-repeat="level in [1,2,3,4,5]" style="padding: 0;float: left;margin: 0;">
                            <input type="radio" name="intensity" value="{{level}}" data-ng-model="button.intensity" 
                                   data-ng-class="{'marginRight15': !$last}">
                        </div>
                        <strong class="pull-left" style="margin-left: 10px;">+</strong>
                    </div>
                </div>
                <hr class="col-sm-12" style="margin-top: 0;margin-bottom: 0;" data-ng-if="!$last">
            </div>
        </div>
        <div class="text-right" style="padding: 0px 5px 5px 5px;">
            <button class="btn btn-flat btn-default" style="margin: 0px 1px;"
                    type="button" data-ng-click="skip('activity');" translate>Skip</button>
            <button class="btn btn-flat btn-primary" style="margin: 0px 1px;" type="submit" 
                    data-ng-disabled="!radio.buttons[0].value && !radio.buttons[1].value && !radio.buttons[2].value" translate>Validate</button>
        </div>
    </form>
</div>