<div class="panel panel-white card chart" style="border: solid grey 2px;">
    <!--<div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;background-color:grey;color:white;">
        <div class="panel-title">
                <div class="col-xs-7" style="padding: 0;">{{title}}</div>                
            </div>
        </div> -->
    <div panel-heading style="color:white;background-color:grey;">
        <div class="panel-title" style=" line-height: inherit;">
            <span translate>{{title}}</span></div>
    </div>
    <div class='panel-body' style="padding: 0px 10px;" data-oc-lazy-load="['additional_components/highcharts-ng/dist/highcharts-ng.min.js']">
        <div class="row" style="padding: 0px 15px;">
            <div class="pull-left">
                <div class="btn-group" data-ng-if="name != 'glycaemia' && name != 'insulin' && name != 'weight' && name != 'meal' && name != 'symptoms'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '3m'}" data-ng-click="build('3m');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '6m'}" data-ng-click="build('6m');" style="padding: 4px 10px;">
                        6 <span translate>months</span>
                    </button>
                </div>
                <div class="btn-group" data-ng-if="name == 'glycaemia' || name == 'meal'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '2m'}" data-ng-click="build('2m');" style="padding: 4px 10px;">
                        2 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '3m'}" data-ng-click="build('3m');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                </div>
                <div class="btn-group" data-ng-if="name == 'symptoms'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        1 <span translate>week</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '2w'}" data-ng-click="build('2w');" style="padding: 4px 10px;">
                        2 <span translate>weeks</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '1m'}" data-ng-click="build('1m');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                </div>
                <div class="btn-group" data-ng-if="name == 'weight'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '3m'}" data-ng-click="build('3m');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '6m'}" data-ng-click="build('6m');" style="padding: 4px 10px;">
                        6 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '1y'}" data-ng-click="build('1y');" style="padding: 4px 10px;">
                        1 <span translate>year</span>
                    </button>
                </div>
                <div data-ng-if="name == 'insulin'">
                    <select class="form-control" data-ng-model="$parent.moment" style="width:165px;" data-ng-change="build('');" data-ng-options="moment.value as moment.name for moment in moments">
                    </select>
                </div>
            </div>
        </div>
        <div>
            <highchart id="chart" config="chart"></highchart>
          <!--  <highchart data-ng-if="name == 'newglycaemia'" id="matrixLowGlucose" config="matrixLowGlucose"></highchart>
        </div> -->
    </div>
</div>