<div class="hc-breadcrumb">
    <a ui-sref="home.profile.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Profile</a> 
    <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>Avatar</a>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-dismissable alert-{{alert.type}} widgetAlert widgetAlert-sm" data-ng-repeat="alert in alerts">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{alert.title}}</strong> {{alert.msg}}
        </div>
        <p class="text-muted text-justify" style="margin-top:0;margin-bottom:5px;" translate>
            Choose a color for your avatar.
        </p>
        <div class="icons-group" style="text-align:left;padding: 5px 0px;">
            <a href data-ng-repeat="c in colors" data-ng-click="selectColor(c);" class="avatar avatar-md" style="margin: 5px 10px 5px 0px;"
               data-ng-style="{'background-color': c}" data-ng-class="{'selected-icon': c == color}">
                    {{profile.username.substr(0, 1).toUpperCase()}}
            </a>
        </div>
        <div class="text-right">
            <a class="btn btn-default" ui-sref="home.profile.main" translate>Cancel</a>
            <button type="button" class="btn btn-primary" data-ng-click="updateAvatar();" translate>Edit</button>
        </div>
    </div>
</div>