<div class="hc-breadcrumb">
    <a ui-sref="home.profile.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Profile</a> 
    <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>Informations</a>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-dismissable alert-{{alert.type}} widgetAlert widgetAlert-sm" data-ng-repeat="alert in alerts">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>{{alert.title}}</strong> {{alert.msg}}
        </div>
        <form class="form-horizontal" name="form" data-ng-submit="updateBasic();">
            <fieldset>
                <div class="col-sm-offset-1 col-sm-9" style="float: none;">
                    <div class="form-group">
                        <label for="email" class="col-xs-4 control-label" translate>Firstname</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="firstname" ng-model="profile.firstname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-xs-4 control-label" translate>Lastname</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="lastname" ng-model="profile.lastname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-xs-4 control-label" translate>Gender</label>
                        <div class="col-xs-8">
                            <select class="form-control" data-ng-init="gender = gender || gendersList[0].value" data-ng-model="profile.gender" 
                                            data-ng-options="gender.value as gender.name for gender in gendersList">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" data-ng-show="profile.condition">
                        <label for="condition" class="col-xs-4 control-label" translate>Condition</label>
                        <div class="col-xs-8">
                            <label class="checkbox-inline" data-ng-repeat="condition in profile.conditions">
	                            <input type="checkbox" 	                            
	                            value="{{condition.value}}" ng-model="condition.checked">
	                            {{condition.name}}
	                            
	                            <label data-ng-show="condition.checked" data-ng-repeat="val in condition.values"
	                            class="radio-inline" style="padding-top:0px;">
		                            <input type="radio" name="values" value="{{val.value}}" ng-model="condition.value">{{val.name}}
		                        </label>		                                                    
                            </label>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthdate" class="col-xs-4 control-label" translate>Birthdate</label>
                        <div class="col-xs-8">
                            <div id="birthdate">
                                <div data-ng-hide="checkDateInput()">
                                    <input type="text" class="form-control" pick-a-date="birthdate" pick-a-date-options="{ format: 'dd/mm/yyyy'}">
                                </div>
                                <div data-ng-show="checkDateInput()">
                                    <input type="date" class="form-control" data-ng-model="birthdate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a class="btn btn-default" ui-sref="home.profile.main" translate>Cancel</a>
                    <button type="submit" class="btn btn-primary" translate>Change</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>