<div class="panel panel-white card chart" style="border: solid grey 2px;">
    <div panel-heading style="color:white;background-color:grey;">
        <div class="panel-title" style=" line-height: inherit;">
            <span translate>AGP</span>
            <span class="text-center"> {{from}} - {{to}}</span>
            <span class="pull-right">{{patientName}}</span>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px 10px;">
        <div class="row" style="padding: 0px 15px;">
            <div class="text-center">
                <div class="btn-group">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '1d'}" data-ng-click="build('1d');" style="padding: 4px 10px;">
                        1 <span translate>day</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '14d'}" data-ng-click="build('14d');" style="padding: 4px 10px;">
                        14 <span translate>days</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '3m'}" data-ng-click="build('3m');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '6m'}" data-ng-click="build('6m');" style="padding: 4px 10px;">
                        6 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == 'custom'}" data-ng-init="showCustom = false" data-ng-click="custom('true');" style="padding: 4px 10px;">
                        <span translate>custom</span>
                    </button>
                </div>
                
                <div ng-if="showCustom">
                    <div class="row" id="datesAlert" style="display: none; z-index: 1">
                        <div class="col-xs-12">
                            <div class="alert alert-warning" role="alert">
                                <strong>{{warningMessage}}</strong>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-3">
                            <label for="dateRange">Date range: </label>
                                <input type="radio" name="dates" data-ng-model="$parent.dateSelected" value="daterange" id="dateRange">
                        </div>
                        <div class="col-xs-3">
                            <label for="pickDates">Pick dates: </label>
                                <input type="radio" name="dates" data-ng-model="$parent.dateSelected" value="datepick" id="pickDates">
                        </div>
                    </div>
                    <div data-ng-if="dateSelected == 'daterange'">
                        <div class="row">                        
                            <div class="col-xs-6">
                                <label for="startdate">
                                        <span translate>Start date: </span>
                                </label>
                                   <multiple-date-picker data-ng-model="selectedDays1" day-click="oneDaySelectionOnly1" show-days-of-surrounding-months="true" fire-events-for-days-of-surrounding-months="true" css-days-of-surrounding-months="'picker-other-month-custom'" disable-days-after="today" disallow-go-futur-months="true"></multiple-date-picker>
                            </div>
                            <div class="col-xs-6">
                                <label for="enddate">
                                    <span translate>End date: </span>
                                </label>
                                   <multiple-date-picker data-ng-model="selectedDays2" day-click="oneDaySelectionOnly2" show-days-of-surrounding-months="true" fire-events-for-days-of-surrounding-months="true" css-days-of-surrounding-months="'picker-other-month-custom'" disable-days-after="today" disallow-go-futur-months="true"></multiple-date-picker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-md btn-primary" data-ng-click="build('custom');">
                                    <span translate>Build</span>
                                </button>
                                <button class="btn btn-md btn-danger" data-ng-click="cleanDateRangeSelection();">
                                    <span translate>Reset</span>
                                </button>
                            </div>
                        </div>                        
                    </div>

                    <div data-ng-if="dateSelected == 'datepick'">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <label for="enddate">
                                    <span translate>Select the dates: </span>
                                </label>
                                <multiple-date-picker data-ng-model="multipleDates" show-days-of-surrounding-months="true" fire-events-for-days-of-surrounding-months="true" css-days-of-surrounding-months="'picker-other-month-custom'" disable-days-after="today" disallow-go-futur-months="true"></multiple-date-picker>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-md btn-primary" data-ng-click="build('custom');">
                                    <span translate>Build</span>
                                </button>
                                <button class="btn btn-md btn-danger" data-ng-click="cleanMultipleDays();">
                                    <span translate>Reset</span>
                                </button>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="pull-right">
                    <!-- <div class="btn-group"> -->
                        <button class="btn btn-xs btn-primary" ui-sref="home.dashboard.objectivepatient({card: 'glycaemiaPatient', user: username})" style="padding: 4px 10px;">
                            <span translate>Change Objectives</span>
                        </button>
                        <button class="btn btn-xs btn-white btn-raised" data-ng-if="name != 'newGly'" data-ng-class="{'active': view == 'list'}" data-ng-click="build('list');" style="padding: 3px 10px;">
                            <i class="mdi-action-delete" style="font-size: 17px;"></i>
                        </button>
                    <!-- </div> -->
                </div>
            </div>
            <div data-ng-hide="view === 'list'">
                <div data-oc-lazy-load="['bower_components/highcharts/highcharts.js', 'bower_components/highcharts/highcharts-more.js','additional_components/highcharts-ng/dist/highcharts-ng.min.js']">
                    <highchart id="chart" config="chart"></highchart>
                    <highchart id="matrixChart" config="matrixChart"></highchart>
                    <div class="col-xs-12">
                        <div class="text-center"><span class="lead">{{week1}}</span></div>
                        <div class="row seven-cols">
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview1" config="dailyview1"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-default" data-ng-click="showDate(date1)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview2" config="dailyview2"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-info" data-ng-click="showDate(date2)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview3" config="dailyview3"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date3)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview4" config="dailyview4"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date4)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview5" config="dailyview5"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date5)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview6" config="dailyview6"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date6)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview7" config="dailyview7"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date7)">Open</button>
                                </div>
                            </div>
                            <!-- <div data-ng-repeat="view in dailyGlucoseViews">
                                {{view.name}}
                                <highchart config="{{view.name}}"></highchart>
                                
                            </div> -->
                        </div>
                        <br />
                        <div class="text-center"><span class="lead">{{week2}}</span></div>
                        <div class="row seven-cols">
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview8" config="dailyview8"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date8)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview9" config="dailyview9"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date9)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview10" config="dailyview10"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date10)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview11" config="dailyview11"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date11)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview12" config="dailyview12"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date12)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview13" config="dailyview13"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date13)">Open</button>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1 nopadding" data-ng-mouseover="showButton()" data-ng-mouseleave="hideButton()">
                                <highchart id="dailyview14" config="dailyview14"></highchart>
                                <div class="text-center animated fadeInDown" data-ng-show="button === true">
                                    <button class="btn btn-xs btn-primary" data-ng-click="showDate(date14)">Open</button>
                                </div>
                            </div>
                        </div>                              
                    </div>
                </div>
            </div>
            <div data-ng-show="view  === 'list'" style="height:250px;overflow: scroll;width: 100%;">
            <table class="table text-center" style="border-top: none;margin: 0;">
                <thead>
                    <tr>
                        <th class="text-center" translate>Date</th>
                        <th class="text-center" translate>Hour</th>
                        <th class="text-center">
                            <span data-ng-hide="meal" translate>Value</span>
                            <span data-ng-show="meal">Score <small>(/20)</small></span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="entry in list | orderBy:'-datetimeAcquisition'">
                        <td>{{entry.datetimeAcquisition | date: 'dd/MM/yy'}}</td>
                        <td>{{entry.datetimeAcquisition | date: 'HH:mm'}}</td>
                        <td class="logValue">
                            <span data-ng-if="!entry.isSkipped && name != 'symptoms' && name != 'bloodpressure' && name != 'steps'"><strong>{{entry.value | number : fractionSize}}</strong> <small>{{unit}}</small></span>
                            <span data-ng-if="!entry.isSkipped && name == 'steps'"><strong>{{entry.value}}</strong> <small>{{unit}}</small></span>
                            <span data-ng-if="!entry.isSkipped && name == 'bloodpressure'"><strong>{{entry.values[0].value}} / {{entry.values[1].value}}</strong> <small>{{unit}}</small></span>
                            <div data-ng-if="!entry.isSkipped && name == 'symptoms'" data-ng-repeat="btn in entry.buttons" class="text-center" ng-style="btn.img" style="margin: 1px;padding: 1px;height: 16px;width: 16px;display: inline-block;">
                            </div>
                            <i data-ng-if="entry.isSkipped" translate>skipped</i>
                            <i data-ng-repeat="icon in entry.icons" class="{{icon.i}}" style="font-size:16px;"></i>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-danger btn-flat" style="margin: 0;padding: 0px 5px;width: 100%;" data-ng-click="$parent.$parent.deleteEntry(entry);">
                                <i class="mdi-action-delete" style="font-size: 18px;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>