<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="hc-breadcrumb">
            <a ui-sref="home.dashboard.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Home</a> 
            <a ui-sref="home.patients({username: username})" href class="btn btn-sm btn-info btn-arrow-bg-second" translate>Patient file</a>
             <a ui-sref="home.patientsagp" href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>AGP</a>
        </div>
        <div data-ng-include="'templates/patient/chart_agp.html'"></div>
               

    </div>
</div>