<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="hc-breadcrumb">
            <a ui-sref="home.dashboard.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>Home</a>
            <a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled translate>Patient file</a>
            <a ui-sref="home.patientsagp({username: username})" href class="btn btn-sm btn-info btn-arrow-bg-second" translate>AGP</a>
        </div>
        <div  data-ng-include="'templates/patient/profile.html'"></div>
        <div  data-ng-include="'templates/patient/medicalRecord.html'"></div>
        
        <!--<div data-ng-repeat="card in cards" data-ng-include="'templates/patient/' + card + '.html'"></div>-->
    </div>
</div>