<div class="panel panel-white card" style="border: solid grey 2px;">
    <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;color:white;background-color: grey;">
        <div class="panel-title">
            <div class="col-xs-7" style="padding: 0" translate>Patient's profile</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="hc-list-infos">
                    <div class="hc-list-table">
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" style="padding-top: 0;" translate>Firstname</div>
                            <div class="hc-list-table-right" style="padding-top: 0;">{{profile.firstname}}</div>
                        </div>
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" translate>Lastname</div>
                            <div class="hc-list-table-right">{{profile.lastname}}</div>
                        </div>
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" translate>Username</div>
                            <div class="hc-list-table-right">{{profile.username}}</div>
                        </div>
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" translate>Gender</div>
                            <div class="hc-list-table-right">{{profile.gender | gender}}</div>
                        </div>
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" translate>Birthdate</div>
                            <div class="hc-list-table-right">{{profile.birthdate}}</div>
                        </div>
                        <div class="hc-list-table-row" data-ng-show="profile.condition">
                            <div class="hc-list-table-left" translate>Condition</div>
                            <div class="hc-list-table-right">{{profile.condition[0]| condition}}</div>
                        </div>
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" translate>Home address</div>
                            <div class="hc-list-table-right">{{profile.homeAddress | unknown}}</div>
                        </div>
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" translate>Phone</div>
                            <div class="hc-list-table-right">{{profile.phone | phone}}</div>
                        </div>
                        <div class="hc-list-table-row">
                            <div class="hc-list-table-left" translate>Email</div>
                            <div class="hc-list-table-right">{{profile.email | unknown}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Avg. Readings/day</h4> -->
                            <span class="profileHeading" translate>Avg. Readings/day</span><br>
                            <span ng-if="trends.readperday>0" class="fas fa-caret-up" style="color:red"> {{trends.readperday}} % </span>
                            <span ng-if="trends.readperday<0" class="fas fa-caret-down" style="color:green"> {{trends.readperday}} % </span>
<!--                             <i ng-if="trends.readperday<0" style="color: green" class="fas fa-caret-down">{{trends.readperday}} % </i>
                            <i ng-if="trends.readperday>0" style="color:red" class="fas fa-caret-up">{{trends.readperday}} % </i> -->
                            <h2 style="color: #4286f4">{{stats.readperday}}</h2>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Mean Glycaemic value</h4> -->
                            <span class="profileHeading" translate>Mean Glycaemic value</span><br>
                            <span ng-if="trends.glymean>0" class="fas fa-caret-up" style="color:red"> {{trends.glymean}} % </span>
                             <span ng-if="trends.glymean<0"  class="fas fa-caret-down" style="color:green"> {{trends.glymean}} % </span>
                            <h2 style="color: #4286f4">{{stats.glymean}} <span style="font-size: 16px;">{{unit}}</span></h2>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Glycaemic Variability</h4> -->
                            <span class="profileHeading" translate>Glycaemic Variability</span><br>
                                <span ng-if="trends.glyvar>0" class="fas fa-caret-up" style="color:red"> {{trends.glyvar}} % </span>
                                 <span ng-if="trends.glyvar<0"  class="fas fa-caret-down" style="color:green"> {{trends.glyvar}} % </span>
                            <h2 style="color: #4286f4">{{stats.glyvar}}</h2>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Glycaemia SD</h4> -->
                            <span class="profileHeading" translate>Glycaemia SD</span><br>
                                <span ng-if="trends.glystdev>0" class="fas fa-caret-up" style="color:red"> {{trends.glystdev}} % </span>
                                <span ng-if="trends.glystdev<0" class="fas fa-caret-down" style="color:green"> {{trends.glystdev}} % </span>
                                <h2 style="color: #4286f4">{{stats.glystdev}} <span style="font-size: 16px">{{unit}}</span></h2>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Glycaemia min</h4><br /> -->
                            <span class="profileHeading" translate>Glycaemia min</span><br>
                            <h2 style="color: #4286f4">{{stats.glymin}} <span style="font-size: 16px">{{unit}}</span></h2>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Glycaemia max</h4><br /> -->
                            <span class="profileHeading" translate>Glycaemia max</span><br>
                            <h2 style="color: #4286f4">{{stats.glymax}} <span style="font-size: 16px">{{unit}}</span></h2>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Est. HbA1c</h4><br /> -->
                            <span class="profileHeading" translate>Est. HbA1c</span><br>
                            <span ng-if="trends.hba1c>0" class="fas fa-caret-up" style="color:red"> {{trends.hba1c}} % </span>
                            <span ng-if="trends.hba1c<0" class="fas fa-caret-down" style="color:green"> {{trends.hba1c}} % </span>
                            <h2 style="color: #4286f4">{{IFCCValue}} <span style="font-size: 16px">mmol/L</span></h2>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                             <!-- <h5 translate>Hypoglycaemic ratio</h5> -->
                             <span class="profileHeading" translate>Hypoglycaemic ratio</span><br>
                             <span ng-if="trends.glymean>0" class="fas fa-caret-up" style="color:red"> {{trends.hypoperc}} % </span>
                             <span ng-if="trends.glymean<=0"  class="fas fa-caret-down" style="color:green"> {{trends.hypoperc}} % </span>                        
                            <h2 style="color: #4286f4">{{stats.hypoperc}} %</h2>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <!-- <h4 translate>Hyperglycaemic ratio</h4> -->
                             <span class="profileHeading" translate>Hyperglycaemic ratio</span><br>
                             <span ng-if="trends.glymean>0" class="fas fa-caret-up" style="color:red"> {{trends.hyperperc}} % </span>
                             <span ng-if="trends.glymean<=0"  class="fas fa-caret-down" style="color:green"> {{trends.hyperperc}} % </span>
                        <h2 style="color: #4286f4">{{stats.hyperperc}} %</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h3 class="text-center" translate>Patient's objectives</h3>
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ui-sref="home.dashboard.objectivepatient({card: 'insulinPatient', user: username})">
                            <span translate>Bolus</span>
                        </button>
                    </div>
                    <div class="btn-group">
                         <button type="button" class="btn btn-primary" ui-sref="home.dashboard.objectivepatient({card: 'weight', user: username})">
                            <span translate>Weight</span>
                        </button>
                    </div>
                    <div class="btn-group">
                         <button type="button" class="btn btn-primary" ui-sref="home.dashboard.objectivepatient({card: 'meal', user: username})">
                            <span translate>Meals</span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ui-sref="home.dashboard.objectivepatient({card: 'glycaemiaPatient', user: username})" style="white-space:normal;">
                            <span translate>Glucose</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>