/* <searchPatients> */

.searchBox {
    width: 100%;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .mdi-action-search,
.icon-addon .mdi-action-search {
    position: absolute;
    z-index: 2;
    width: 20px;
    padding: 10px 0;
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 40px;
    font-size: 18px;
    padding: 9px 10px 6px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .mdi-action-search {
    font-size: 20px;
    margin-left: 0;
    left: 8px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .mdi-action-search,
.icon-addon:hover .mdi-action-search {
    color: #337ab7;
}

.icon-addon input {
    width: 100%;
    box-sizing: border-box;
    height: inherit;
}

.doctor-icons-group {
    margin-bottom: 10px;
    max-height: 140px;
    overflow-y: scroll;
}

.doctor-icons-group img {
    max-width: 45px;
    margin: 2px;
}


/* </searchPatients> */

.chart {
    padding-bottom: 2px;
}

.card > .panel-heading {
    padding: 0;
    height: 35px;
    color: #000;
}

.chart > .panel-body {
    padding: 0;
}

.chart > .panel-heading> .panel-title >.col-xs-6 {
    padding: 0;
}

.chart > .panel-heading> .panel-title > .col-xs-6:nth-child(2) {
    margin-top: -2px;
}

.btn-objectives {
    margin: 0;
    padding: 4px 15px;
    margin-top: -4px;
    padding-right: 5px!important;
    padding-left: 5px!important;
    color: #fff!important;
}

.myButton {
    width: 48px;
    height: 48px;
    background: url('../../img/fitbit-sync.png') no-repeat center center;
    background-size: cover;
}

.btn-fitbit {
    margin: 0;
    padding: 4px 15px;
    margin-top: -4px;
    width: 7em;
    height: 2.28em;
    background-image: url('../../img/fitbit-sync.png');
    background-size: 80%;
    /* To fill the dimensions of container (button), or */
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.btn-fitbit {
    margin: 0;
    padding: 4px 15px;
    margin-top: -4px;
    width: 7em;
    height: 2.28em;
    background-image: url('../../img/fitbit-sync.png');
    background-size: 80%;
    /* To fill the dimensions of container (button), or */
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.btn-withings {
    margin: 0;
    padding: 4px 15px;
    margin-top: -4px;
    width: 7em;
    height: 2.28em;
    background-image: url('../../img/withings-sync.png');
    background-size: 80%;
    /* To fill the dimensions of container (button), or */
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 0px!important;
    padding-left: 0px!important;
}


.badge{
    background: rgba(0,0,0,0.5);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-13px;
    right:-8px;
    padding:5px;
}

.btn-estimator {
    margin: 0;
    padding: 4px 15px;
    margin-top: -4px; 
    background-image: url('../../img/calculator.png');
    background-size: 1.2em;
    /* To fill the dimensions of container (button), or */
    background-repeat: no-repeat;
    background-position: 0.3em 0.45em;
    height: 2.28em;
    padding-left: 2em!important;
}

.btn-menu3-disabled {
 padding: 3px 10px;
 width:33%;
 background-color:white!important ;
 color:#2196F3!important;
 overflow: hidden;
 font-size: 11px!important;
}

.btn-menu3-enabled {
    padding: 3px 10px;
    width:33%;
    background-color:#2196F3!important;
    color:white!important ;
    overflow: hidden;
    font-size: 11px!important;

   }


.biceps {
    background-image: url('../../img/biceps_icon.png');
    background-size: 1.5em;
    /* To fill the dimensions of container (button), or */
    background-repeat: no-repeat;
    height: 3em;
    padding-left: 2em!important;
}


.circle {
    height: 14px;
    margin-top: 3px;
}

.circle-empty {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 14px;
}

.circle-half {
    width: 7px;
    border-radius: 14px 0px 0px 14px;
    background-color: #d9d9d9;
}

.circle-full {
    width: 14px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.list-todo a.list-group-item:hover,
.list-todo a.list-group-item:active,
.list-todo a.list-group-item:focus {
    background-color: inherit!important;
}

.list-todo .avatar {
    font-size: 18px;
    height: 25px!important;
    width: 25px!important;
}

.panel-exp a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114"; 
    float: right;
    color: white;
}

.panel-exp-info a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e086";
    float: right;
    color: white;
}

.panel-exp a.collapsed:after {
    content: "\e080";
}

.panel-exp-info a.collapsed:after {
    content: "\e086";
}

.table-header-rotated {
  border-collapse: collapse;
}
.table-header-rotated td {
  width: 30px;
}
 .table-header-rotated th {
  padding: 5px 10px;
}
.table-header-rotated td {
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ccc;
}
 .table-header-rotated th.rotate {
  height: 140px;
  white-space: nowrap;
}
 .table-header-rotated th.rotate > div {
  -webkit-transform: translate(25px, 51px) rotate(315deg);
      -ms-transform: translate(25px, 51px) rotate(315deg);
          transform: translate(25px, 51px) rotate(315deg);
  width: 30px;
}
 .table-header-rotated th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.table-header-rotated th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

/*CLASSES FOR A CUSTOM DATE PICKER IN AGP PHYSICIAN'S VIEW*/

.picker-day.picker-other-month-custom{
    background-color: #e0e0e0;
    color: #fff;
}

.picker-day.picker-other-month-custom:hover{
    cursor: pointer;
    background-color: #C6000B;
    color: #fff;
}

.picker-day.picker-other-month-custom.picker-selected{
    background-color: #C6000B;
}

.picker-day.holiday{
    background-color: #00ffa2;
    color: #fff;
}

.picker-day.holiday.picker-selected{
    background-color: #00ae69;
    color: #fff;
}

.picker-day.holiday.picker-off{
    background-color: #00a267;
    color: #fff;
    cursor: default;
}

.picker-day.holiday:not(.picker-off):hover{
    background-color: #00e795;
    color: #fff;
}


.picker-day.birthday:not(.picker-selected){
    background-color: #ded100;
    color: #000;
}

/*SET BUTTON COLORS IN TREEMAP*/
.btn-treemap
 {
    background-color: white;
    color: #2196F3 !important;
    padding: 4px 10px;
}

.activeTreemap {
  /*background-color: blue !important;*/
  background-color: #2196F3 !important;
  color: #ffffff !important;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@media only screen and (max-width: 480px) {
    .profileHeading {
        font-size: 14px !important;
        line-height: 1.1;
        font-weight: 300;
        font-family: inherit;
        padding-top: 15px !important;
        margin-bottom: 5px !important;
        display: block;
        /*word-wrap: break-word;*/
    }
}

@media only screen and (max-width: 320px) {
    .profileHeading {
        overflow-wrap: break-word;
    }
}

.profileHeading {
        font-size: 18px;
        line-height: 1.1;
        font-weight: 500;
        font-family: inherit;
        padding-top: 5px;
        margin-bottom: 5px;
        display: block;
    }

@media (max-width: 767px){
  .seven-cols > .col-xs-1,
  .seven-cols > .col-md-1,
  .seven-cols > .col-sm-1,
  .seven-cols > .col-lg-1  {
    width: 25%;
    *width: 25%;
  }
}

@media (min-width: 768px){
  .seven-cols > .col-md-1,
  .seven-cols > .col-sm-1,
  .seven-cols > .col-lg-1  {
    width: 25%;
    *width: 25%;
  }
}


@media (min-width: 992px) {
  .seven-cols > .col-md-1,
  .seven-cols > .col-sm-1,
  .seven-cols > .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


@media (min-width: 1200px) {
  .seven-cols > .col-md-1,
  .seven-cols > .col-sm-1,
  .seven-cols > .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/* Set the fixed height of the footer here */
#footerBottom {
  height: 60px;
  /*background-color: #ffffff;*/
}

/* Custom bottom navbar CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 10px 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#bottomNav {
    padding:10px;
    background-color: #ffffff;
}
#bottomNav a {
    font-size:12px;
    color: #000000;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#009688;
}
.bottomNavActive {
    color:#009688 !important;
}

/*fix for webkit browsers to display the arrow on the spin input element*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.mealHeading {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 500;
    font-family: inherit;
    padding-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.mealValue {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 500;
    font-family: inherit;
    padding-top: 5px;
    margin-bottom: 5px;
    display: block;
    color: blue;
}

/*scrollable meal list div*/
.addScroll {
    overflow-y: auto;
    height: 320px;
    width: auto;
}

/*Position of the meals products list*/
@media (max-width: 767px) {
    .element-hidden{ 
        display: none;
    }
}

@media (min-width: 768px) {
    .addScroll {
        overflow-y: auto;
        height: 320px;
        width: auto;
    }
     .element-hidden{
     visibility: hidden;
  }
}

