/* <logsbook> */
.logDate{
    background-color: #f5f5f5;
    width:15%;
}

.logTime{
    width:8%;
}

.logIcon{
    max-width: 40px;
    padding-right: 5px;
}

.logValue{
    vertical-align:middle!important;
}

.logTime, .logDate{
    text-align:center!important;
    vertical-align:middle!important;
}

.commentsLink > .fa-comment-o:hover{
    color:#039be5!important;
}
.logsbookFilter{
    height: 35px;
}

.logsbookFilter > div{
    float:right;
}
/* <logsbook> */