<link href="css/templates/dashboard.css" rel="stylesheet">
<div class="col-md-8 col-md-offset-2" style="height: 100%;">
    <div class="row" style="height: 100%;">
        <div ui-view style="height: 100%;"></div>
    </div>
</div>