<div class="col-xs-12 col-sm-12 col-md-4">
    <div ng-data-if="config.name == 'appointments'">
    	<div class="panel panel-white card chart" style="border: solid #2196F3 2px;">
            <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;color:white;background-color:#2196F3 ">
                <div class="panel-title">
                    <div data-ng-class="{'col-xs-7': objective, 'col-xs-9': !objective}" style="padding: 0;">{{title}} <span class="label label-default">{{appNo}}</span></div>
                    <div class="pull-right">
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding: 0px;height:15em;">
                <div class="row" style="height: 455px">
                	<div class="text-center helper text-muted" data-ng-if="message !== ''">{{message}}</div>
                	<div class="col-xs-12">
  						<table class="table" ng-if="message === ''">
  							<thead>
  								<tr>
                    <th></th>
  									<th translate>Title</th>
  									<th translate>Time</th>
  								</tr>
  							</thead>
  							<tbody>
	  							<tr data-ng-repeat="app in appointments">
                    <td><i class="fas fa-user" aria-hidden="true"></i></td>
	  								<td>{{app.name.substr(0, 32)}}</td>
	  								<td>{{app.time}}</td>
	  							</tr>
	  						</tbody>
  						</table>
	                </div>
                </div>
            </div>
        </div>
    </div>
</div>