<div class="panel panel-white card chart" style="border: solid #2196F3 2px;" data-ng-hide=isHiddenLocal(name);>

    <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;">
        <div class="panel-title">
            <div data-ng-class="{'col-xs-7': objective, 'col-xs-9': !objective}" style="padding: 0;">{{title}}</div>
            <div class="pull-right">
                <button class="btn btn-primary btn-raised btn-fitbit btn-xs" data-ng-if="name == 'steps' || name == 'sport'" data-ng-click="syncfitbit();">
                </button>
                <button class="btn btn-primary btn-raised btn-withings btn-xs" data-ng-if="name == 'weight'" data-ng-click="syncwithings();">
                </button>
                <!-- <button class="btn btn-primary btn-raised btn-objectives btn-xs btn-estimator" data-ng-if="objective && name == 'insulin'" ui-sref="home.dashboard.estimateinsu">
                    Bolus
                </button> -->
                <button class="btn btn-primary btn-raised btn-objectives btn-xs" data-ng-if="objective && name != 'symptoms' && name != 'insulin' && name != 'newGly'" ui-sref="home.dashboard.objective({card: name})">
                    {{objective}}
                </button>
                <button class="btn btn-primary btn-raised btn-objectives btn-xs" data-ng-if="objective && name != 'symptoms' && name == 'insulin'" ui-sref="home.dashboard.objective({card: name})">
                    <span class="glyphicon glyphicon-wrench"></span> {{objective}}
                </button>
                <button class="btn btn-primary btn-raised btn-objectives btn-xs" style="padding-right:5px;padding-left:5px;" data-ng-if="name != 'newGly'" ui-sref="home.dashboard.add({card: name})" translate>
                    New entry
                </button>
                <button class="btn btn-primary btn-raised btn-objectives btn-xs" data-ng-if="objective && name == 'newGly'" ui-sref="home.dashboard.objective({card: 'glycaemia'})">
                    {{objective}}
                </button>
                <button class="btn btn-primary btn-raised btn-objectives btn-xs" style="padding-right:5px;padding-left:5px;" data-ng-if="name == 'newGly'" ui-sref="home.dashboard.add({card: 'glycaemia'})" translate>
                    New entry
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body" style="padding: 0px 10px;">
        <div class="row" style="padding: 0px 15px;">
            <div class="pull-left">
                <div class="btn-group" data-ng-if="name != 'glycaemia' && name != 'insulin' && name != 'weight' && name != 'meal' && name != 'symptoms' && name !== 'newGly'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '3m'}" data-ng-click="build('3m');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '6m'}" data-ng-click="build('6m');" style="padding: 4px 10px;">
                        6 <span translate>months</span>
                    </button>
                </div>
                <div class="btn-group" data-ng-if="name == 'newGly'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '1d'}" data-ng-click="build('1d');" style="padding: 4px 10px;">
                        1 <span translate>day</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '14d'}" data-ng-click="build('14d');" style="padding: 4px 10px;">
                        14 <span translate>days</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '1m'}" data-ng-click="build('1m');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '3m'}" data-ng-click="build('3m');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '6m'}" data-ng-click="build('6m');" style="padding: 4px 10px;">
                        6 <span translate>months</span>
                    </button>
                </div>
                <div class="btn-group" data-ng-if="name == 'glycaemia' || name == 'meal'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '2m'}" data-ng-click="build('2m');" style="padding: 4px 10px;">
                        2 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '3m'}" data-ng-click="build('3m');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                </div>
                <div class="btn-group" data-ng-if="name == 'symptoms'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        1 <span translate>week</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '2w'}" data-ng-click="build('2w');" style="padding: 4px 10px;">
                        2 <span translate>weeks</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '1m'}" data-ng-click="build('1m');" style="padding: 4px 10px;">
                        1 <span translate>month</span>
                    </button>
                </div>
                <div class="btn-group" data-ng-if="name == 'weight'">
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == ''}" data-ng-click="build('');" style="padding: 4px 10px;">
                        3 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '6m'}" data-ng-click="build('6m');" style="padding: 4px 10px;">
                        6 <span translate>months</span>
                    </button>
                    <button class="btn btn-xs btn-white" data-ng-class="{'active': view == '1y'}" data-ng-click="build('1y');" style="padding: 4px 10px;">
                        1 <span translate>year</span>
                    </button>
                </div>
                <div data-ng-if="name == 'insulin'">
                    <select class="form-control" data-ng-model="$parent.moment" style="width:165px;" data-ng-change="build('');" data-ng-options="moment.value as moment.name for moment in moments">
                    </select>
                </div>
            </div>
            <div class="pull-right">
                <button class="btn btn-xs btn-white btn-raised" data-ng-class="{'active': view == 'list'}" data-ng-click="build('list');" style="padding: 3px 10px;">
                    <i data-ng-class="name == 'meal' ? 'mdi-action-list' : 'mdi-action-delete'" style="font-size: 17px;"></i>
                </button>
            </div>
        </div>
        <div data-ng-hide="view  == 'list'">
            <div data-oc-lazy-load="['bower_components/highcharts/highcharts.js', 'additional_components/highcharts-ng/dist/highcharts-ng.min.js', 'bower_components/highcharts/highcharts-more.js', 'bower_components/highcharts/modules/series-label.js']">
                <highchart id="chart" config="chart"></highchart>
                <highchart data-ng-if="name == 'newGly' && role == '2'" id="matrixLowGlucose" config="matrixLowGlucose"></highchart>
                <!-- <highchart data-ng-if="name == 'meal'" id="calorieGauge" config="calorieGauge"></highchart> -->
            </div>
        </div>
        <div data-ng-if="name == 'meal'" data-ng-hide="view =='list'">
<!--             <div data-oc-lazy-load="['bower_components/highcharts/highcharts.js', 'additional_components/highcharts-ng/dist/highcharts-ng.min.js', 'bower_components/highcharts/highcharts-more.js']">
                <highchart id="calorieGauge" config="calorieGauge"></highchart>
            </div> -->
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <h5 class="text-center">Calories Consumed</h5>
                        <span class="mealHeading mealValue text-center">{{caloriesConsumed}}</span>
                    </div>
                    <div class="col-xs-4">
                        <h5 class="text-center">Calories Remaining</h5>
                        <span class="mealHeading text-center">{{caloriesRemaining}}</span>
                    </div>
                    <div class="col-xs-4">
                        <h5 class="text-center">Daily Objective</h5>
                        <span class="mealHeading text-center">{{caloriesObjective}}</span>
                    </div>
                </div>
<!--                 <div class="row">
                    <div class="col-xs-4">
                        <h5 class="text-center">Calories Consumed</h5>
                        <span class="mealHeading mealValue text-center">1506</span>
                    </div>
                    <div class="col-xs-4">
                        <h5 class="text-center">Calories Remaining</h5>
                        <span class="mealHeading text-center">494</span>
                    </div>
                    <div class="col-xs-4">
                        <h5 class="text-center">Daily Objective</h5>
                        <span class="mealHeading text-center">2000</span>
                    </div>
                </div> -->
            </div>
        </div>
        <div data-ng-show="view  == 'list'" style="height:250px;overflow: scroll;width: 100%;">
            <table class="table text-center" style="border-top: none;margin: 0;">
                <thead>
                    <tr>
                        <th class="text-center" translate>Date</th>
                        <th class="text-center" translate>Hour</th>
                        <th class="text-center">
                            <span data-ng-hide="meal" translate>Value</span>
                            <span data-ng-show="meal">Score <small>(/20)</small></span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="entry in list | orderBy:'-datetimeAcquisition'">
                        <td>{{entry.datetimeAcquisition | date: 'dd/MM/yy'}}</td>
                        <td>{{entry.datetimeAcquisition | date: 'HH:mm'}}</td>
                        <td class="logValue">
                            <span data-ng-if="!entry.isSkipped && name != 'symptoms' && name != 'bloodpressure' && name != 'steps'"><strong>{{entry.value | number : fractionSize}}</strong> <small>{{unit}}</small></span>
                            <span data-ng-if="!entry.isSkipped && name == 'steps'"><strong>{{entry.value}}</strong> <small>{{unit}}</small></span>
                            <span data-ng-if="!entry.isSkipped && name == 'bloodpressure'"><strong>{{entry.values[0].value}} / {{entry.values[1].value}}</strong> <small>{{unit}}</small></span>
                            <div data-ng-if="!entry.isSkipped && name == 'symptoms'" data-ng-repeat="btn in entry.buttons" class="text-center" ng-style="btn.img" style="margin: 1px;padding: 1px;height: 16px;width: 16px;display: inline-block;">
                            </div>
                            <i data-ng-if="entry.isSkipped" translate>skipped</i>
                            <i data-ng-repeat="icon in entry.icons" class="{{icon.i}}" style="font-size:16px;"></i>
                        </td>
                        <td class="text-center">
                            <div data-ng-show="name != 'meal'">
                                <button class="btn btn-xs btn-danger btn-flat" style="margin: 0;padding: 0px 5px;width: 100%;" data-ng-click="$parent.$parent.deleteEntry(entry);">
                                <i class="mdi-action-delete" style="font-size: 18px;"></i>
                                </button>
                            </div>
                            <div data-ng-show="name == 'meal'">
                                <button class="btn btn-xs btn-danger btn-flat" style="margin: 0;padding: 0px 5px;width: 100%;" data-ng-click="$parent.$parent.deleteMeal(entry);">
                                    <i class="mdi-action-delete" style="font-size: 18px;"></i>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div data-ng-show="name == 'meal'">
                                <button class="btn btn-xs btn-dark btn-flat" style="margin: 0;padding: 0px 5px;width: 100%;" data-ng-click="$parent.$parent.viewMeal(entry)">
                                    <i class="mdi-action-view-list" style="font-size: 18px;"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>