
<div class="panel panel-white card" style="border: solid #2196F3 2px;">
    <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;">
        <div class="panel-title">
            <div class="col-xs-7" style="padding: 0;" translate>Conditions</div>
            
        </div>
    </div>
    <div class="panel-body text-center" style="padding: 2px; ">
    	<form class="form-horizontal" name="form" data-ng-submit="updateBasic();">
	    	<div class="form-group" data-ng-show="profile.condition">
	            
	                <label class="checkbox-inline" data-ng-repeat="condition in profile.conditions"
	                	style="font-size:1.3em;">
	                 <input type="checkbox" 	                            
	                 value="{{condition.value}}" ng-model="condition.checked">
	                 {{condition.name}}
	                 
	                 <label data-ng-show="condition.checked" data-ng-repeat="val in condition.values"
	                 class="radio-inline" style="padding-top:0px;">
	                  <input type="radio" name="values" value="{{val.value}}" data-ng-model="condition.value">{{val.name}}
	              	</label>		                                                    
	                </label>
	                
	            
	        </div>
	        <div class="text-right">
	            <button type="submit" class="btn btn-primary" translate>Change</button>
	        </div>
        </form>
        
    </div>
</div>