<div class="col-xs-12 col-sm-12 col-md-4">    
    <div ng-data-if="config.name == 'demographics'">
        <div class="panel panel-white card chart" style="border: solid #2196F3 2px;">
            <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;background-color: #2196F3;">
                <div class="panel-title">
                    <div data-ng-class="{'col-xs-7': objective, 'col-xs-9': !objective}" style="padding: 0;color:white;">{{title}}</div>
                    <div class="pull-left">
                        
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding: 0px 10px;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4">
                            <div class="text-center">
                                <h4><span translate>Women</span>
                                    <i class="fas fa-venus text-center" aria-hidden="true"></i>
                                </h4>
                                <h2 style="color: #4286f4">{{numWomen}}</h2>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center">
                                <h4><span translate>Men</span>
                                    <i class="fas fa-mars" aria-hidden="true"></i>
                                </h4>                                
                                <h2 style="color: #4286f4">{{numMen}}</h2>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center">
                                <h4><span translate>Avg. Age</span>
                                   <i class="fas fa-birthday-cake" aria-hidden="true"></i>
                                </h4>
                                <h2 style="color: #4286f4">{{avgAge}}</h2>
                            </div>
                        </div>
                    
                    <!-- <div class="col-xs-12 col-sm-4 col-md-4"> -->
                        <div class="col-xs-4">
                            <div class="text-center">
                                <h4>DM 1</h4>
                                <h2 style="color: #4286f4">{{numDm1}}</h2>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center">
                                <h4>DM 2</h4>
                                <h2 style="color: #4286f4">{{numDm2}}</h2>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>