
<div class="panel panel-white card" style="border: solid #2196F3 2px;" ng-hide="isHidden();">
    <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;">
        <div class="panel-title">
            <div class="col-xs-7" style="padding: 0;" translate>HbA1c estimation</div>
            
        </div>
    </div>
    <div class="panel-body text-center" style="padding: 2px; ">
    	<div data-ng-if="glycHemo.nbEntries >= 20">
	        <h3 data-ng-if="!glycHemo.isGood" style="color: #ff5722;">{{glycHemo.value | number : 2}} %   
	        <span class="avatar" style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px;background-color:#ff5722;">!</span>
	        <br>
	        <span style="font-size:0.7em;">({{IFCCValue | number : 2}}  mmol/mol)</span>    
	        </h3>
	        
	        <h3 data-ng-if="glycHemo.isGood" style="color: #4caf50;">{{glycHemo.value | number : 2}} %      
	        <span class="avatar mdi-action-done" style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px;background-color:#4caf50;"></span>
	        <br>
	        <span style="font-size:0.7em;">({{IFCCValue | number : 2}}  mmol/mol)</span>  
	        </h3>
	        <p style="color: red;" data-ng-if="glycHemo && !glycHemo.isGood && glycHemo.condition.indexOf('d1') > -1" translate>
	        Your HbA1c should be less than 8%</p>
	        <p style="color: red;" data-ng-if="glycHemo && !glycHemo.isGood && glycHemo.condition.indexOf('d2') > -2" translate>
	        Votre HbA1c devrait être inférieur à 6.5 %</p>
	        <p style="color: red;" data-ng-if="glycHemo && glycHemo.value < 6" translate>
	        Votre HbA1c devrait être supérieure à 6 %</p>
        	<p>Estimation: {{nbDays}} <span translate>days</span> - {{glycHemo.nbEntries}} <span translate>entries</span></p>
        </div>
        <div data-ng-if="glycHemo.nbEntries < 20">
	        <h3 style="color: #bdbdbd;">{{notEnoughData}}</h3>	
	        <h5 style="color: #bdbdbd;">{{atLeast20}}</h5>   
        </div>
        
    </div>
</div>