<div class="col-xs-12 col-sm-12 col-md-8">
    <div class="form-group panel panel-default card">    
        <!--<form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchText">
            </div>
        </div>
    </form> -->
        <table class="table table-bordered table-hover table-striped">
            <thead style="text-align:center; font-size:1.2em; border-left: 1px solid #dddddd;background-color: grey;font-weight: normal;">
                <tr style="text-align:center;">
                    <td>
                        <a href="#" style="color:white;" ng-click="sortType = 'last'; sortReverse = !sortReverse">
               Name 
                <span ng-show="sortType == 'last' && !sortReverse" class="fas fa-caret-down"></span>
                <span ng-show="sortType == 'last' && sortReverse" class="fas fa-caret-up"></span> 
              </a>
                    </td>
                    <td>
                        <a href="#" style="color:white;" ng-click="sortType = 'hba1c.value'; sortReverse = !sortReverse">
              HbA1c %
                <span ng-show="sortType == 'hba1c.value' && !sortReverse" class="fas fa-caret-down"></span>
                <span ng-show="sortType == 'hba1c.value' && sortReverse" class="fas fa-caret-up"></span>
              </a>
                    </td>
                    <td>
                        <a href="#" style="color:white;" ng-click="sortType = 'hypo.value'; sortReverse = !sortReverse">
              Hypo %
                <span ng-show="sortType == 'hypo' && !sortReverse" class="fas fa-caret-down"></span>
                <span ng-show="sortType == 'hypo' && sortReverse" class="fas fa-caret-up"></span>
              </a>
                    </td>
                    <td>
                        <a href="#" style="color:white;" ng-click="sortType = 'hyper.value'; sortReverse = !sortReverse">
              Hyper %
                <span ng-show="sortType == 'hyper' && !sortReverse" class="fas fa-caret-down"></span>
                <span ng-show="sortType == 'hyper' && sortReverse" class="fas fa-caret-up"></span>
              </a>
                    </td>
                    <td>
                        <a href="#" style="color:white;" ng-click="sortType = 'glyvar.value'; sortReverse = !sortReverse">
              Glyc.Var. %
                <span ng-show="sortType == 'glyvar' && !sortReverse" class="fas fa-caret-down"></span>
                <span ng-show="sortType == 'glyvar' && sortReverse" class="fas fa-caret-up"></span>
              </a>
                    </td>
                    <td>
                        <a href="#" style="color:white;" ng-click="sortType = 'risk.value'; sortReverse = !sortReverse">
              <i class="fa fa-heart" aria-hidden="true"></i> Risk %
                <span ng-show="sortType == 'risk' && !sortReverse" class="fas fa-caret-down"></span>
                <span ng-show="sortType == 'risk' && sortReverse" class="fas fa-caret-up"></span>
              </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align:center;" ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchText">
                    <td style="width:15%">
                        <div class="avatar avatar-sm" data-ng-style="{'background-color': patient.avatar}">{{user.last.substr(0, 1).toUpperCase()}}</div>
                        <br>{{ user.last }} {{user.first.substr(0, 1).toUpperCase()}}.</td>
                    <td style="width:15%; font-size:1.2em ;background-color: hsl({{treemapcol(user.hba1c.value,max.hba1c,min.hba1c)}}, 100%, 85%);">
                        {{ user.hba1c.value }}
                        <i ng-if="user.hba1c.trend=='up'" class="fas fa-caret-up" style="color:#e60000" ; aria-hidden="true"></i>
                        <i ng-if="user.hba1c.trend=='down'" class="fas fa-caret-down"> </i>
                    </td>
                    <td style="width:15%; font-size:1.2em ; background-color: hsl({{treemapcol(user.hypo.value,max.hypo,min.hypo)}}, 100%, 85%);">
                        {{ user.hypo.value}}
                        <i ng-if="user.hypo.trend=='up'" class="fas fa-caret-up" style="color:#e60000" ; aria-hidden="true"></i>
                        <i ng-if="user.hypo.trend=='down'" class="fas fa-caret-down"> </i>
                    </td>
                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.hyper.value,max.hyper,min.hyper)}}, 100%, 85%);">
                        {{ user.hyper.value}}
                        <i ng-if="user.hyper.trend=='up'" class="fas fa-caret-up" style="color:#e60000" ; aria-hidden="true"></i>
                        <i ng-if="user.hyper.trend=='down'" class="fas fa-caret-down"> </i>
                    </td>
                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.glyvar.value,max.glyvar,min.glyvar)}}, 100%, 85%);">
                        {{ user.glyvar.value }}
                        <i ng-if="user.glyvar.trend=='up'" class="fas fa-caret-up" style="color:#e60000" ; aria-hidden="true"></i>
                        <i ng-if="user.glyvar.trend=='down'" class="fas fa-caret-down"> </i>
                    </td>
                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.risk.value,max.risk,min.risk)}}, 100%, 85%);">
                        {{ user.risk.value }}
                        <i ng-if="user.risk.trend=='up'" class="fas fa-caret-up" style="color:#e60000" ; aria-hidden="true"></i>
                        <i ng-if="user.risk.trend=='down'" class="fas fa-caret-down"> </i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
