<div class="col-xs-12 col-sm-4 col-md-4" style="max-height: 70px; z-index: 100;">
    <div class="form-group searchBox panel panel-default card">
        <div class="icon-addon addon-lg" style="margin: 5px 10px;">
            <input class="form-control" type="text" placeholder="{{'Search for patients'|translate}}" data-ng-focus="in();" data-ng-blur="out();" data-ng-model="searchText" data-ng-change="search();" style="margin-bottom: -1px;">
            <i class="mdi-action-search"></i>
        </div>
        <div class="text-center helper text-muted" data-ng-if="helper !== ''">{{helper}}</div>
        <div class="list-group hc-list-group panel" style="clear: both;">
            <div class="panel panel-default" data-ng-repeat="patient in patients">
                <a class="list-group-item" href style="padding: 0 10px;padding-top: 5px;height: 48px;" ui-sref="home.patients({username: patient.username})">
                    <div class="row-action-primary" style="padding-top: 5px;">
                        <div class="avatar avatar-sm" data-ng-style="{'background-color': patient.avatar}">{{patient.username.substr(0, 1).toUpperCase()}}</div>
                    </div>
                    <div class="row-content" style="min-height: inherit;">
                        <h4 class="list-group-item-heading" style="margin-top: 6px;margin-bottom: 0px;font-size: 18px;">
                        <!--{{patient.username}}-->
                        {{patient.firstname}}
                        {{patient.lastname}}
                    </h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 col-sm-4 col-md-4">
    <div class="form-group searchBox panel panel-default card">
        <div class="panel-body" style="padding: 0px 10px;">
            <div class="text-center">
                <h4 translate>Patients at risk</h4>
                <h2 class="text-center" style="color: #4286f4">6
                <i class="fas fa-heartbeat" aria-hidden="true"></i>
            </h2>
            </div>            
        </div>
    </div>
</div>
<div class="col-xs-6 col-sm-4 col-md-4">
    <div class="form-group searchBox panel panel-default card">
        <div class="panel-body" style="padding: 0px 10px;">
            <div class="text-center">
                <h4 translate>Total patients</h4>
                <h2 style="color: #4286f4">1261
                    <i class="fas fa-users" aria-hidden="true"></i>
                </h2>
            </div>
        </div>
    </div>
</div>