<div class="col-xs-12 col-sm-12 col-md-8">
    <div ng-data-if="config.name == 'top20rsm'">
        <div class="panel panel-white card chart" style="border: solid #2196F3 2px;">
            <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;background-color: #2196F3;">
                <div class="panel-title" style="color:white;">
                    High Risk Matrix
                </div>
            </div>
            <div class="panel-body" style="padding: 0px 10px 10px 10px;">
                <div class="text-center">
                    <!-- Buttons -->
                    <div class="btn-group" ng-if="!trendsView">
                        <button data-ng-click="changeView('values');" class="btn btn-md btn-white" style="padding: 4px 10px;background-color: #2196F3;color:white;">Values</button>
                        <button data-ng-click="changeView('trends');" class="btn btn-md btn-white" style="padding: 4px 10px;background-color: white;color:#2196F3;">14D Trends</button>
                    </div>
                    <div class="btn-group" ng-if="trendsView">
                        <button data-ng-click="changeView('values');" class="btn btn-md btn-white" style="padding: 4px 10px;background-color: white;color:#2196F3;">Values</button>
                        <button data-ng-click="changeView('trends');" class="btn btn-md btn-white" style="padding: 4px 10px;background-color: #2196F3;color:white;">14D Trends</button>
                    </div>
                    <!-- Table1 -->
                    <div class="table-responsive">
                        <table class="table-bordered table-hover" style="margin:auto; width: 100%;" ng-if="!trendsView">
                            <thead style="text-align:center; font-size:1.2em; border-left: 1px solid #dddddd;background-color: white;padding:10px;margin:10px;">
                                <tr>
                                <td>
                                    <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'last'; sortReverse = !sortReverse">
               Name 
                <span ng-show="sortType == 'last' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'last' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span> 
              </a>
                                </td>
                                <td>
                                    <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'hba1c.value'; sortReverse = !sortReverse">
              HbA1c %
                <span ng-show="sortType == 'hba1c.value' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'hba1c.value' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                </td>
                                <td>
                                    <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'hypo.value'; sortReverse = !sortReverse">
              Hypo %
                <span ng-show="sortType == 'hypo.value' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'hypo.value' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                </td>
                                <td>
                                    <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'hyper.value'; sortReverse = !sortReverse">
              Hyper %
                <span ng-show="sortType == 'hyper.value' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'hyper.value' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                </td>
                                <td>
                                    <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'glyvar.value'; sortReverse = !sortReverse">
              Gly.Var. %
                <span ng-show="sortType == 'glyvar.value' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'glyvar.value' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                </td>
                                <td>
                                    <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'risk.value'; sortReverse = !sortReverse">
              <i class="fas fa-heart" aria-hidden="true"></i> Risk %
                <span ng-show="sortType == 'risk.value' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'risk.value' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center; font-size: 1.2em" ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchText">
                                    <td style="width:15%;background-color: gray;color:white; font-size: 1em">
                                        <div class="avatar avatar-sm" data-ng-style="{'background-color': patient.avatar}">
                                            {{user.last.substr(0, 1).toUpperCase()}}
                                        </div>
                                        <br>
                                        <a ui-sref="home.patients({username: demoname})" style="text-decoration:none;color:white;">

                                    {{ user.last }} {{user.first.substr(0, 1).toUpperCase()}}.                                  
                                    </a>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.hba1c.value,max.hba1c,min.hba1c,60)}}, 100%, 85%);">
                                        {{ user.hba1c.value }} <br>
                                        <i ng-if="user.hypo.trend<0" class="fas fa-caret-up" style="color:#e60000" aria-hidden="true"></i>
                                        <i ng-if="user.hypo.trend>0" class="fas fa-caret-down" style="color:green"> </i>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ; background-color: hsl({{treemapcol(user.hypo.value,max.hypo,min.hypo,60)}}, 100%, 85%);">
                                        {{ user.hypo.value}} <br>
                                        <i ng-if="user.hypo.trend<0" class="fas fa-caret-up" style="color:#e60000" aria-hidden="true"></i>
                                        <i ng-if="user.hypo.trend>0" class="fas fa-caret-down" style="color:green"> </i>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.hyper.value,max.hyper,min.hyper,60)}}, 100%, 85%);">
                                        {{ user.hyper.value}} <br>
                                        <i ng-if="user.hypo.trend<0" class="fas fa-caret-up" style="color:#e60000" aria-hidden="true"></i>
                                        <i ng-if="user.hypo.trend>0" class="fas fa-caret-down" style="color:green"> </i>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.glyvar.value,max.glyvar,min.glyvar,60)}}, 100%, 85%);">
                                        {{ user.glyvar.value }} <br>
                                        <i ng-if="user.hypo.trend<0" class="fas fa-caret-up" style="color:#e60000" aria-hidden="true"></i>
                                        <i ng-if="user.hypo.trend>0" class="fas fa-caret-down" style="color:green"> </i>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.risk.value,max.risk,min.risk,60)}}, 100%, 85%);">
                                        {{ user.risk.value }} <br>
                                        <i ng-if="user.hypo.trend<0" class="fas fa-caret-up" style="color:#e60000" aria-hidden="true"></i>
                                        <i ng-if="user.hypo.trend>0" class="fas fa-caret-down" style="color:green"> </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Table 2 -->
                    <div class="table-responsive">
                        <table class="table-bordered table-hover" style="margin:auto; width: 100%;" ng-if="trendsView">
                            <thead style="text-align:center; font-size:1.2em; border-left: 1px solid #dddddd;background-color: white;font-weight: normal;">
                                <tr style="text-align:center;">
                                    <td>
                                        <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'last'; sortReverse = !sortReverse">
               Name 
                <span ng-show="sortType == 'last' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'last' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span> 
              </a>
                                    </td>
                                    <td>
                                        <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'hba1c.trend'; sortReverse = !sortReverse">
              HbA1c %
                <span ng-show="sortType == 'hba1c.trend' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'hba1c.trend' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                    </td>
                                    <td>
                                        <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'hypo.trend'; sortReverse = !sortReverse">
              Hypo %
                <span ng-show="sortType == 'hypo.trend' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'hypo.trend' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                    </td>
                                    <td>
                                        <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'hyper.trend'; sortReverse = !sortReverse">
              Hyper %
                <span ng-show="sortType == 'hyper.trend' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'hyper.trend' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                    </td>
                                    <td>
                                        <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'glyvar.trend'; sortReverse = !sortReverse">
              Gly.Var. %
                <span ng-show="sortType == 'glyvar.trend' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'glyvar.trend' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                    </td>
                                    <td>
                                        <a href="#" style="color:black;text-decoration: none; " ng-click="sortType = 'risk.trend'; sortReverse = !sortReverse">
              <i class="fas fa-heart" aria-hidden="true"></i> Risk %
                <span ng-show="sortType == 'risk.trend' && !sortReverse" class="fas fa-angle-double-down" style="font-size:1.2em;color:#2196F3"></span>
                <span ng-show="sortType == 'risk.trend' && sortReverse" class="fas fa-angle-double-up" style="font-size:1.2em;color:#2196F3"></span>
              </a>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;font-size: 1.2em" ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchText">
                                    <td style="width:15%;background-color: gray;color:white; font-size: 1em">
                                        <div class="avatar avatar-sm" data-ng-style="{'background-color': patient.avatar}">
                                            {{user.last.substr(0, 1).toUpperCase()}}
                                        </div>
                                        <br>
                                        <a ui-sref="home.patients({username: demoname})" style="text-decoration:none;color:white;">

                                    {{ user.last }} {{user.first.substr(0, 1).toUpperCase()}}.                                  
                                    </a>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.hba1c.trend,trendsmax.hba1c,trendsmin.hba1c,100)}}, 100%, 85%);">
                                        <text ng-if="user.hba1c.trend>0">+</text>{{user.hba1c.trend}} <br>
                                        <text style="font-size:0.8em;">% </text>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ; background-color: hsl({{treemapcol(user.hypo.trend,trendsmax.hypo,trendsmin.hypo,100)}}, 100%, 85%);">
                                        <text ng-if="user.hypo.trend>0">+</text>{{user.hypo.trend}} <br>
                                        <text style="font-size:0.8em;">% </text>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.hyper.trend,trendsmax.hyper,trendsmin.hyper,100)}}, 100%, 85%);">
                                        <text ng-if="user.hyper.trend>0">+</text>{{user.hyper.trend}} <br>
                                        <text style="font-size:0.8em;">% </text>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.glyvar.trend,trendsmax.glyvar,trendsmin.glyvar,100)}}, 100%, 85%);">
                                        <text ng-if="user.glyvar.trend>0">+</text>{{user.glyvar.trend}} <br>
                                        <text style="font-size:0.8em;">% </text>
                                    </td>
                                    <td style="width:15%;font-size:1.2em ;background-color: hsl({{treemapcol(user.risk.trend,trendsmax.risk,trendsmin.risk,100)}}, 100%, 85%);">
                                        <text ng-if="user.risk.trend>0">+</text>{{user.risk.trend}} <br>
                                        <text style="font-size:0.8em;">% </text>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>