<div class="col-xs-12 col-sm-12 col-md-8">
    <div ng-data-if="config.name == 'treemap'">
        <div class="panel panel-white card chart" style="border: solid #2196F3 2px;">
            <div class="panel-heading" style="border-top-right-radius: 0;border-top-left-radius: 0;background-color: #2196F3;">
                <div class="panel-title">
                    <div data-ng-class="{'col-xs-7': objective, 'col-xs-9': !objective}" style="padding: 0;color:white;">{{title}}</div>
                    <div class="pull-left">
                        
                    </div>
                </div>
            </div>
            <div class="panel-body" style="padding: 0px 10px;">
                <div class="row">
                 <div class="col-xs-12">
                    <div class="text-center">
                         <div class="btn-group" role="group">
                            <button data-ng-click="changeDataset('ALL'); activeMenu = 'all'" ng-class="{activeTreemap : activeMenu === 'all'}" class="btn btn-md btn-white btn-treemap">ALL</button>
                         <!-- </div>
                           <div class="btn-group" role="group"> -->
                            <button data-ng-click="changeDataset('hba1c'); activeMenu = 'hba1c'" ng-class="{activeTreemap : activeMenu === 'hba1c'}" class="btn btn-md btn-white btn-treemap">HbA1c</button>
                           <!-- </div>
                           <div class="btn-group" role="group"> -->
                            <button data-ng-click="changeDataset('hypo'); activeMenu = 'hypo'" ng-class="{activeTreemap : activeMenu === 'hypo'}"  class="btn btn-md btn-white btn-treemap">Hypoglycaemia</button>
                           <!-- </div>
                           <div class="btn-group" role="group"> -->
                            <button data-ng-click="changeDataset('hyper'); activeMenu = 'hyper'"  ng-class="{activeTreemap : activeMenu === 'hyper'}" class="btn btn-md btn-white btn-treemap">Hyperglycaemia</button>
                           <!-- </div>
                           <div class="btn-group" role="group"> -->
                            <button data-ng-click="changeDataset('glycvar'); activeMenu = 'glycvar'"  ng-class="{activeTreemap : activeMenu === 'glycvar'}" class="btn btn-md btn-white btn-treemap">Glyc. Var.</button>
                           <!-- </div>
                           <div class="btn-group" role="group"> -->
                            <button data-ng-click="changeDataset('cardio'); activeMenu = 'cardio'"  ng-class="{activeTreemap : activeMenu === 'cardio'}" class="btn btn-white btn-treemap">Cardio</button>
                           </div>
                     </div>
               </div>
              </div>
                <div data-oc-lazy-load="['additional_components/highcharts-ng/dist/highcharts-ng.min.js', 'bower_components/highcharts/modules/treemap.js']">
                        <highchart id="treemap" config="treemap"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>
