<div data-oc-lazy-load="['js/directives/GlycaemiaChartDirective.js']">
    <glycaemiachart title="{{'Glycaemia'|translate}}" name="glycaemia" objective="{{'Objective'|translate}}"></glycaemiachart>
</div>