<div data-oc-lazy-load="['js/directives/InsulinChartDirective.js','js/directives/BolusAssistantDirective.js']">
    <insulinchart title="{{'Insulin'|translate}}" name="insulin" objective="{{'Settings'|translate}}"></insulinchart>
    <assistant ng-hide="isHiddenGlobal.insulin" title="{{'Bolus Assistant'|translate}}" name="assistant" ></assistant>
</div>

