<div data-oc-lazy-load="['js/directives/NewGlycaemiaChartDirective.js']">
    <newglychart title="{{'Glucose profile' | translate}}" name="newGly" objective="{{'Objective'|translate}}"></newglychart>
</div>