<div id="stepsid" ng-href="stepsid" data-oc-lazy-load="['js/directives/StepsChartDirective.js']">
    <stepschart  title="{{'Number of steps'|translate}}" name="steps" objective="{{'Objective'|translate}}"></stepschart>
</div>
