<div class="panel-title" style="padding: 10px;">
    <button type="button" class="close" ui-sref="home.dashboard.main" href="/">
        <i class="mdi-navigation-close"></i>
    </button>
    <a class="btn btn-primary btn-raised btn-breadcrumbs btn-arrow-panel ng-binding" ui-sref="home.achievements" style="color:#fff;" href="/">
                        Achievements
                    <div class="ripple-wrapper"></div></a>
    <a class="btn btn-white btn-breadcrumbs btn-raised btn-arrow-panel-second ng-binding" style="opacity: 1!important" disabled="">
                        Quizzs
                    </a>
</div>
<div class="panel-heading" style="text-align: center; background-color:#009688;">
    <h3> 
    <text style="font-weight: bold; color:white"> <text style="font-weight: bold; color:white">              
  
      <span ng-if="user.score>70" class="avatar" style="margin-bottom: 5px; line-height: 42px;font-size:17px; font-weight: bold; height: 40px; width:40px;background-color:#4caf50;"> {{user.score}}  </span>
      <span ng-if="user.score<=70 && user.score>40" class="avatar" style="margin-bottom: 5px; line-height: 42px;font-size:17px; font-weight: bold; height: 40px; width:40px;background-color:#ffae19;"> {{user.score}} </span>
      <span ng-if="user.score<=40" class="avatar" style="margin-bottom: 5px; line-height: 42px;font-size:17px; font-weight: bold; height: 40px; width:40px;background-color:#FF6666;"> {{user.score}} </span>
       <span ng-if="user.score==0" class="avatar" style="margin-bottom: 5px; line-height: 42px;font-size:19px; font-weight: bold; height: 40px; width:40px;background-color:#bdbdbd;"> ? </span>
     
</text> 
{{config.quizzmodule[2].name}}</text>
    <a href class="btn btn-flat btn-default" style="margin: 0;padding: 5px 5px;">
                <!--<span ng-if="user.score<=70" class="avatar " style="margin-bottom: 7px; line-height: 50px;font-size:50px; height: 48px; width:48px; ;background-color:#A0A8A0;"></span>-->
            </a> </h3>
</div>
</br>
<div class="pull-left">
    <button ng-click="initQuizz(mode.status);" class="btn btn-primary btn-raised btn-objectives btn-info">
        <span class="glyphicon glyphicon-play"> </span>
        <text ng-if="mode.status"> START </text>
        <text ng-if="!mode.status"> START (all) </text>
    </button>
</div>
<div class="toggleFilter pull-right">
    <div class="togglebutton text-left">
        <label>
            {{mode.text}} &nbsp;&nbsp;
            <input data-ng-model="mode.status" data-ng-change="toggleMode();" type="checkbox" checked="">
        </label>
    </div>
</div>
<!-- <div class="panel-title pull-left" style="line-height: inherit;padding: 0px 0px 10px 0px;">{{mode.title}}</div> -->
<div class="list-group hc-list-group panel" style="clear: both;">
    <div class="panel panel-default chatItem" style="height: 48px;" data-ng-repeat="quizz in quizzs | filter: filterQuizzs | orderBy:'-'">
        <a class="list-group-item" style="padding: 0 10px;padding-top: 5px;  height: 48px;">
            <!-- ui-sref="home.quizzs.one({id: quizz.id})" -->
            <div class="row-content" style="min-height: inherit;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <h4 class="list-group-item-heading" style="margin-top: 5px;margin-bottom: 0px;font-size: 18px;padding-left: 5px;">
                    {{quizz.title}} 
                </h4>
            </div>
        </a>
        <div class="item-options" style="top: 7px;">
            <span ng-if="quizz.bookmarked" class="avatar mdi-action-done" style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px;background-color:#4caf50;"></span>
            <span ng-if="!quizz.bookmarked" class="avatar" style="margin-bottom: 7px; line-height: 25px;font-size:20px; height: 24px; width:24px; ;background-color:red; color:red;"></span>
        </div>
        <div class="list-group-separator" style="margin: 0px;" data-ng-hide="$last"></div>
    </div>
</div>
<div class="text-center text-muted helper" data-ng-if="filteredQuizzs.length === 0 && mode.status">
    <i data-ng-class="{'mdi-action-favorite-outline': filteredQuizzs.length === 0 && mode.status}"></i>
    <p class="lead">{{helper.title}}</p>
    <p>{{helper.text}}</p>
</div>