<div class="hc-breadcrumb">
    <a ui-sref="home.quizzs.main" class="btn btn-sm btn-info btn-raised btn-arrow-bg" translate>quizzs</a>
    <div class="col-xs-10 col-sm-10 progress-container" style="text-align: center;">
    </div>
    <!--<a href class="btn btn-sm btn-white btn-arrow-bg-second" disabled>{{quizz.title.substr(0, 18)}}...</a>-->
</div>
<div class="panel-heading" style="padding: 5px 0px 10px 0px;">
    <h3 class="panel-title" style="padding:0;text-align:center;">
        {{quizz.title}}
    </h3>
</div>
<div class="panel-heading panel-warning " style="text-align: center; background-color:#009688;">
    <text style="font-weight: bold; color:white">Enonce {{quizz.id}}</text>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <p data-ng-bind-html="quizz.content | html"></p>
    </div>
    <div class="panel panel-default" data-ng-if="quizz.image">
        <div class="panel-body" data-ng-style="image"></div>
    </div>
</div>
<div class="panel panel-default" data-ng-if="quizz.video">
    <div class="panel-body" style="height: 300px;padding: 0;" data-ng-bind-html="quizz.video | html"></div>
</div>
<div class="panel panel-default" data-ng-if="quizz.details">
    <div class="panel-body">
        <h4 style="margin-top: 0;margin-bottom: 5px;font-size: 16px;"><span translate>More details</span>...</h4>
        <p data-ng-bind-html="quizz.details | html"></p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading panel-warning " style="text-align: center; background-color:#009688;">
        <text style="font-weight: bold; color:white">Question {{quizz.id}}</text>
    </div>
    <div class="panel-body">
        <h5> <i  style="color:black">{{quizz.question}}</i> </h5></br>
        <form>
            <div data-ng-repeat="choice in quizz.choices">
                <input type="radio" ng-model="user.answer" name="question_choices" value={{choice}}>
                <span>{{choice}}</span>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-12 progress-container">
        <div class="progress progress-striped active" style="height: 16px;">
            <div class="progress-bar progress-bar-info" style="width:0%">
                <text style="font-size:10px;"> {{lenbar}} % </text>
            </div>
        </div>
    </div>
    <!--<div class="alert alert-success" ng-if="quizz.correct==user.answer">
        Prima !
    </div>-->
</div>
<!--<div class="pull-left">
    <button class="btn btn-white btn-fab btn-raised" data-ng-click="previous(quizz.id);">
        <span class="glyphicon glyphicon-chevron-left"> </span>
    </button>
</div>-->
<div class="pull-right" id="mysuccess" data-ng-if="verify();">
    <button class="btn btn-white btn-info btn-fab btn-raised action-button" style="background-color:#009688;" data-ng-click="next(quizz.correct==user.answer,quizz.id);">
        <span class="glyphicon glyphicon-chevron-right"> </span>
    </button>
</div>
<ng-include src="'templates/modals/result_quizz.html'"></ng-include>